<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="row" ng-app="App" ng-controller="Controller">
<div class="col p16">
    <input type="text"
           class="input ripple radius24"
           autocapitalize="off"
           autocomplete="off"
           ng-model="search_domain"
           placeholder="Find any domain"
           style="padding-left: 34px">
    <div class="col pv8 ripple"
         ng-repeat="coin in searchCoins"
         ng-click="selectDomain(coin)">
        <div class="row pv8 align-start-center">
            <img class="img32" src="{{genLogo(coin.logo)}}">
            <div class="col flex ml8">
                <p class="size16 bold uppercase medium">{{coin.domain}}</p>
                <p class="size12 gray400-text">{{coin.owner}}</p>
            </div>
        </div>
        <div class="divider"></div>
    </div>
</div>
<div class="flex col">
    <div class="row align-start-center ripple p8">
        <img class="img24 img-black" src="/explorer/img/{{toImg(info.dir.data_type)}}">
        <div class="flex ml4" ng-click="backPath()">{{getPath()}}</div>
        <div class="row input-wrapper">
            <div class="input-label">Subdir</div>
            <input type="text" ng-model="subdir">
        </div>
        <div class="button" ng-click="addPath(subdir)">Go</div>
    </div>
    <div class="row ml16 align-start-center ripple p8"
         ng-repeat="file in info.children"
         ng-click="addPath(file.data_key)">
        <img class="img24 img-black" src="/explorer/img/{{toImg(file.data_type)}}">
        <div class="ml4">{{file.data_key}}</div>
        <div class="flex row align-end">
            <div class="" ng-click="copyText(file.data_value); $event.stopPropagation();">{{file.data_value}}</div>
        </div>
    </div>
</div>

<script src="/angular/angular.js"></script>
<script src="/angular-aria/angular-aria.js"></script>
<script src="/angular-animate/angular-animate.js"></script>
<script src="/angular-messages/angular-messages.js"></script>
<script src="/angular-material/angular-material.js"></script>
<link href="/angular-material/angular-material.min.css" rel="stylesheet">
<script src="/angular-material/angular-material.min.js"></script>

<link href="/mfm-flex/flex.css" rel="stylesheet">
<link href="../../../../mfm-angular-template/css/shorts.css" rel="stylesheet">
<link href="../../../../mfm-angular-template/css/colors.css" rel="stylesheet">
<link href="../../../../mfm-angular-template/css/colors-dark.css" rel="stylesheet">
<link href="../style.css" rel="stylesheet">

<script src="/mfm-wallet/utils/formats.js"></script>
<script src="/mfm-wallet/utils/backend.js"></script>
<script src="../../../../mfm-angular-template/js/ui.js"></script>

<script src="controller.js"></script>
<script>
    controller(main)
</script>
<script async src="/mfm-wallet/dialogs/pin/controller.js"></script>
</body>
