<md-bottom-sheet class="col">
    <div class="row header align-start-center">
        <p class="flex">{{str.please_leave_feedback}}</p>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="back()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="col input-content">
        <textarea class="radius8" cols="30" rows="1" ng-model="message"
                  placeholder="{{str.type_your_feedback_here}}..."
                  style="border: none"
                  oninput="this.style.height = ''; this.style.height = this.scrollHeight +'px'"></textarea>
        <div class="row gap16">
            <div class="flex m0 primary-button back-red" ng-click="dislike(message)">
                <img class="img40 img-white"
                     src="/mfm-wallet/img/dislike.svg">
            </div>
            <div class="flex m0 primary-button back-green" ng-click="like(message)">
                <img class="img40 img-white"
                     src="/mfm-wallet/img/like.svg">
            </div>
        </div>
    </div>
</md-bottom-sheet>