<md-dialog class="fill col">
    <div class="row header align-start-center">
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="openMining(domain)">
            <img class="img16 img-gray400" src="/mfm-wallet/img/mining.svg">
        </div>
        <div class="flex row align-center-center gap8">
            <p>{{str.miner_account}}</p>
        </div>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col scroll align-start-center">
        <div class="flex col block">
            <img class="refresh-icon img-gray" src="/mfm-wallet/img/close.svg">
            <div class="input-content">
                <!--<ng-include src="'/mfm-wallet/wallet/profile/chart/chart.html'"></ng-include>-->

                <div class="col gap16">
                    <div class="col align-center-center gap16" style="padding: 40px 0 0 0">
                        <div class="row gap8 align-start-center">
                            <div ng-style="getLogo(domain)"></div>
                            <p class="text0">{{formatAmount(token_account.balance)}}</p>
                            <p class="text0">{{formatDomain(token_account.domain)}}</p>
                        </div>
                        <p class="text1">{{formatAmount(gas_account.balance, wallet.gas_domain)}}</p>
                    </div>
                    <div class="row mh8">
                        <div class="flex row align-center">
                            {{formatPrice(miner_account.tariff)}}/min
                        </div>
                        <img class="img16 img-white" src="/mfm-wallet/img/arrow-right.svg" alt="">
                        <div class="flex row align-center">
                            {{miner_account ? formatDomain(miner_account.minerDomain) : "unset"}}
                        </div>
                    </div>
                    <div class="row">
                        <button class="flex"
                                ng-click="openMinerTariffs(domain)"
                                ng-disabled="gas_account.balance == 0">
                            {{str.set_tariff}}
                        </button>
                        <button class="flex"
                                ng-click="setDomain()"
                                ng-disabled="gas_account.balance == 0">
                            {{str.set_domain}}
                        </button>
                    </div>
                </div>
                <div class="flex primary-button"
                        ng-click="withdrawal(domain)"
                        ng-disabled="!token_account || token_account.balance == 0">
                    {{str.withdrawal}}
                </div>
                <div class="row">
                    <p class="flex text2">{{str.difficulty}}</p>
                    <p>{{formatAmount(token.difficulty, str.hash_per_min)}}</p>
                </div>
                <div class="row">
                    <p class="flex text2">{{str.tariff_speed}}</p>
                    <p>{{formatAmount(miner_account.tariff * 10000 * 10000, str.hash_per_min)}}</p>
                </div>
                <div class="row">
                    <p class="flex text2">{{str.chance_to_mine}}</p>
                    <p>{{formatPercent((miner_account.tariff * 10000 * 10000) / token.difficulty * 100, 2)}}</p>
                </div>
                <div class="row">
                    <p class="flex text2">{{str.last_reward}}</p>
                    <p>{{formatAmount(last_reward.amount, domain)}}</p>
                </div>
                <div class="row">
                    <p class="flex text2">{{str.predicted_profit}}</p>
                    <p>{{formatAmount((miner_account.tariff * 10000 * 10000) / token.difficulty * (60 * 24 * 7) * last_reward.amount, domain)}}</p>
                </div>
                <div class="row">
                    <p class="flex text2">{{str.predicted_profit}}</p>
                    <p>{{formatAmount((miner_account.tariff * 10000 * 10000) / token.difficulty * (60 * 24 * 7) * last_reward.amount * token.price, wallet.gas_domain)}}</p>
                </div>

                <div class="nowrap-disabled"
                     ng-include="'/mfm-wallet/wallet/mining/faq/' + getLanguage() + '.html'"></div>

                <!--<div class="flex primary-button"
                     ng-click="openMining(domain)">
                    mining in browser
                </div>-->
            </div>
            <!--<div class="nowrap-disabled m16"
                 ng-include="'/mfm-wallet/wallet/mining/faq/' + getLanguage() + '.html'"></div>-->
        </div>
    </div>
    <div class="row ph16 pt16">
        <p class="flex text2">{{str.miner_balance}}</p>
        <p>{{formatAmount(miner_account.balance, wallet.gas_domain)}}</p>
    </div>
    <div class="primary-button"
         ng-show="account.balance == 0"
         ng-click="openDeposit()">
        {{str.deposit}}
    </div>
    <div class="primary-button"
         ng-show="account.balance != 0"
         ng-click="openSend(wallet.gas_domain, wallet.MINER_ADDRESS, null, refresh)">
        {{str.top_up_miner}}
    </div>
</md-dialog>