<md-dialog class="fill col">
    <div class="row header align-start-center">
        <div class="row align-center-center img32 back-gray radius-default ripple"
             ng-click="openWebMiner('vavilon')">
            <img class="img16 img-gray400" src="/mfm-wallet/img/mining.svg">
        </div>
        <div class="flex row align-center-center gap8">
            <p>{{str.mining}}</p>
        </div>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col scroll align-start-center">
        <div class="flex col block">
            <img class="refresh-icon img-gray" src="/mfm-wallet/img/close.svg">
            <div class="col align-center-center relative">
                <div class="col align-center-center" style="height: 200px">
                    <p class="text2">{{str.energy}}</p>
                    <div class="row gap4 align-start-center">
                        <img class="img30 img-yellow" src="/mfm-wallet/img/energy.svg">
                        <p class="text0">{{formatAmount(gas_account ? gas_account.balance * 100 : 0, null, 2)}}</p>
                    </div>
                    <p class="text2">&nbsp;</p>
                </div>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     style="height: 100%"
                     viewBox="100 100 800 800" xml:space="preserve">
<circle class="st0" cx="500" cy="500" r="360">
  <animateTransform attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 500 500"
                    to="360 500 500"
                    dur="100s"
                    repeatCount="indefinite"/>
</circle>
                    <circle class="st1" cx="500" cy="500" r="314">
    <animateTransform attributeType="xml"
                      attributeName="transform"
                      type="rotate"
                      from="0 500 500"
                      to="360 500 500"
                      dur="40s"
                      repeatCount="indefinite"/>
</circle>
</svg>
            </div>

            <div class="col mt16 input-content">
                <div class="col back-gray radius-default">
                    <div class="row p16 align-start-center ripple"
                         ng-repeat="(domain, account) in accounts"
                         ng-click="openMiningProfile(account.domain, refresh)">
                        <div ng-style="getLogo(account.domain)"></div>
                        <div class="flex col ml16">
                            <p>{{formatDomain(account.domain)}}</p>
                            <div class="row mt4 text2">
                                <p>{{formatPrice(account.token.price)}}</p>
                                <p class="ml4" ng-class="percentColor(account.token.price24)">
                                    {{formatChange(account.token.price24)}}
                                </p>
                            </div>
                        </div>
                        <div class="col align-end-end">
                            <p>{{formatAmount(account.balance)}}</p>
                            <p class="mt4 text2">{{formatPrice(account.token.price * account.balance)}}</p>
                        </div>
                        <button class="ml16 toggle"
                                ng-class="{'active': (miner_account.domains || '').indexOf(account.domain) != -1}"
                                ng-click="toggleDomain(account.domain); $event.stopPropagation()"></button>
                    </div>
                    <div class="row p16 align-start-center"
                         ng-repeat="token in tokens"
                         ng-click="openMiningProfile(token.domain, refresh)">
                        <div ng-style="getLogo(token.domain)"></div>
                        <div class="flex col ml16">
                            <p>{{formatDomain(token.domain)}}</p>
                            <div class="row mt4 text2">
                                <p>{{formatPrice(token.price)}}</p>
                                <p class="ml4" ng-class="percentColor(token.price24)">
                                    {{formatChange(token.price24)}}
                                </p>
                            </div>
                        </div>
                        <button class="toggle" ng-click="toggleDomain(token.domain); $event.stopPropagation()"></button>
                    </div>
                </div>
            </div>

            <ng-include src="'/mfm-wallet/wallet/trans.html?v=5'"></ng-include>
            <div class="nowrap-disabled mh16"
                 ng-include="'/mfm-wallet/wallet/mining/faq/' + getLanguage() + '.html'"></div>


        </div>
    </div>
    <div class="primary-button back-yellow"
         ng-click="openSend(wallet.gas_domain, wallet.MINER_ADDRESS, null, refresh)">
        {{str.buy_energy}}
    </div>
</md-dialog>