<md-dialog class="fill col">
    <div class="row header align-start-center">
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="closeAll()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/home.svg">
        </div>
        <div class="flex row align-center">{{str.onboarding}}</div>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col scroll-vertical align-start-center">
        <div class="flex col block">
            <md-tabs md-selected="tabIndex" class="col p0" md-swipe-content md-dynamic-height>
                <md-tab label="$index" ng-repeat="item in tasks">
                    <div class="col align-start-center p16 gap16">
                        <div ng-style="getLogo(item.img, 200)"></div>
                        <p class="text1 text-align-center" style="margin-top: 40px">{{item.description}}</p>
                    </div>
                </md-tab>
            </md-tabs>
        </div>
    </div>
    <div class="primary-button align-center-center"
         ng-disabled="isChecked(tasks[tabIndex].check)"
         ng-click="tasks[tabIndex].click()">
        {{tasks[tabIndex].title}}
        <div class="row ml8 align-center-center"
             ng-hide="isChecked(tasks[tabIndex].check)">
            <img class="img16 img-yellow" src="/mfm-wallet/img/energy.svg">
            <p>100</p>
        </div>
    </div>
    <div class="primary-button back-black border-gray" ng-click="next()">
        {{tabindex + 1 == tasks.length ? str.close : str.next}}
    </div>
</md-dialog>