<md-dialog class="fill col">
    <div class="row header align-start-center">
        <img class="img40 p8 img-gray ripple" src="/mfm-wallet/img/support.svg" ng-click="openSupport()">
        <div class="flex row align-center">{{getTitle(languages)}}</div>
        <img class="img40 p8 img-gray ripple" src="/mfm-wallet/img/close.svg" ng-click="close()">
    </div>
    <div class="flex col scroll align-start-center">
        <div class="flex col block input-content">
            <div class="row ripple align-start-center"
                 ng-repeat="(key, val) in languages"
                 ng-show="key != 'title'"
                 ng-click="setLanguage(key, val)">
                <img class="img32 p8 mr8 img-gray" src="/mfm-wallet/img/language.svg">
                <p>{{getTitle(val)}}</p>
            </div>
            <div></div>
        </div>
    </div>
</md-dialog>