<md-dialog class="fill col">
    <div class="row header align-start-center">
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="openSupport()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/support.svg">
        </div>
        <p class="flex">{{formatTicker(domain)}} {{str.logo}}</p>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col content">
        <div class="flex col input-content align-center-center">
            <div class="col align-center-center gap16">
                <div class="col">
                    <div class="button"
                         ng-click="uploadLogo()">
                        Upload
                    </div>
                </div>
                <div class="row">
                    <img class="radius24"
                         src="{{getLogoOrGen()}}"
                         style="width: 100px; height: 100px"
                         onerror="imgError(this)">
                </div>
                <div class="col">
                    <div class="button" ng-click="generate()">
                        Generate
                    </div>
                </div>
            </div>
        </div>
        <div class="primary-button" ng-click="next()">
            Save
        </div>
    </div>
</md-dialog>