<md-dialog class="col fill">
    <div class="row header align-start-center gray100-back">
        <img class="ripple" src="/mfm-wallet/img/back.svg" ng-click="close()">
        <p>App settings</p>
    </div>
    <div class="col content align-start-center scroll">
        <div class="col input-content">
            <!--<div class="row">
                <img class="flex cursor"
                     style="min-height: 200px"
                     ng-hide="imgshow"
                     src="/{{domain}}/preview.jpg"
                     ng-click="uploadPreview()">
                <img class="flex cursor"
                     style="min-height: 200px"
                     ng-show="imgshow"
                     src="{{imgshow}}"
                     ng-click="uploadPreview()">
            </div>-->

            <div class="row input-wrapper">
                <div class="input-label">Title</div>
                <input type="text" ng-model="title">
            </div>
            <md-checkbox ng-model="hide_in_store">
                Hide in store
            </md-checkbox>
            <div class="primary-button" ng-click="save()">Save</div>

            <div class="primary-button" ng-click="uploadArchive()">Upload archive</div>

            <div class="primary-button gray300-back" ng-click="archive()">Generate archive</div>
        </div>
    </div>
</md-dialog>