<div class="col p8 radius10"
     ng-click="options(coin)"
     ng-style="cardBack(coin)"
     style="border-width: 0 0 1px 0; border-color: var(--black); border-style: solid;">
    <div class="col nowrap" ng-style="cardFront(coin)" style="height: 150px">
        <div class="row align-start-center">
            <div ng-style="getLogo(coin.domain)"></div>
            <div class="col ml8">
                <p class="size24 bold uppercase bold">{{formatAmount(coin.balance, coin.domain)}}</p>
            </div>
            <div class="flex"></div>
            <div class="col align-start-end"
                 ng-hide="coin.domain == 'usdt'">
                <div class="row align-start-end">
                    <p class="ml8 size20 bold">{{formatPrice(coin.price)}}</p>
                </div>
                <p>Price</p>
            </div>
            <div class="col"
                 ng-show="coin.domain == 'usdt'">
                <p class="ml8 size20 bold">{{formatTicker('usdt')}}</p>
            </div>
        </div>
        <div class="flex"></div>
        <div class="row align-end-end">
            <p class="flex size16 gray400-text uppercase">{{wallet.address()}}</p>
            <div class="ripple radius10 black-back white-text size14 pv8 ph16 mb4"
                 style="border: var(--black) solid 2px;"
                 ng-show="coin.domain == 'usdt'"
                 ng-click="openDeposit(); $event.stopPropagation();">
                Deposit
            </div>
        </div>
    </div>
</div>