<!DOCTYPE html>
<html lang="en" translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#000000">
    <meta name="google" value="notranslate">
    <link rel="icon" href="logo.svg">
    <meta name="description"
          content="Vavilon Network - инновационная блокчейн-сеть с бесплатными транзакциями и доходом от майнинга для валидаторов.">
    <meta name="keywords"
          content="Vavilon Network, блокчейн, бесплатные транзакции, майнинг, валидаторы, PoS, масштабируемость, безопасность">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <title>Vavilon Network - Blockchain Network</title>

    <style>
        body {
            background: #0f1620;
        }

        .loader {
            top: 50%;
            left: 50%;
            width: 50px;
            height: 50px;
            margin: -25px 0 0 -25px;
            position: absolute;

            aspect-ratio: 1;
            border-radius: 50%;
            border: 8px solid #86909c;
            border-right-color: #46aef5;
            animation: l2 1s infinite linear;
        }

        @keyframes l2 {
            to {
                transform: rotate(1turn)
            }
        }

    </style>
</head>
<body class="col nowrap" ng-app="App" ng-controller="Controller" style="overflow: hidden">
<div style="position: absolute; left:0; top: 0; width: 100%; height: 100%; z-index: 1"
     ng-style="{'visibility': showBody ? 'hidden' : 'visible'}">
    <div class="loader"></div>
</div>
<div class="flex col" ng-cloak style="visibility: hidden"
     ng-style="{'visibility': showBody ? 'visible' : 'hidden'}">
    <md-tabs class="flex col" md-selected="selectedIndex">
        <md-tab label="0">
            <ng-include src="'/mfm-wallet/store/index.html?v=12'"></ng-include>
        </md-tab>
        <md-tab label="1">
            <ng-include src="'/mfm-wallet/wallet/index.html?v=12'"></ng-include>
        </md-tab>
        <md-tab label="2">
            <div class="row input-wrapper m16">
                <img class="img20 img-gray" src="/mfm-wallet/img/search.svg"/>
                <input type="text"
                       id="search_input"
                       autocomplete="off"
                       oninput="this.value = this.value.toLowerCase().replace(/[^a-z0-9_]/g, '')"
                       ng-model="search_text"
                       ng-change="search()"
                       placeholder=" ">
                <label for="search_input">{{str.type_token_name}}</label>
                <img class="img14 img-gray" src="/mfm-wallet/img/close.svg"
                     style="position: absolute; right: 14px; top: 18px"
                     ng-show="search_text"
                     ng-click="clear()"/>
            </div>
            <div class="flex col scroll align-start-center">
                <div class="flex col block ph8">
                    <img class="refresh-icon img-gray" src="/mfm-wallet/img/reload.svg">
                    <ng-include src="'/mfm-wallet/search/tokens.html?v=12'"></ng-include>
                </div>
            </div>
        </md-tab>
    </md-tabs>
    <div class="col align-start-center fill-width p16 pt8 back-black ng-cloak"
         style="position: absolute; bottom: 0;">
        <div class="row block">
            <div class="flex col pv8 align-start-center ripple relative"
                 ng-repeat="item in menu"
                 ng-click="selectTab($index)">
                <img class="img18" src="/mfm-wallet/img/{{item}}.svg"
                     ng-class="{'img-accent': selectedIndex == $index, 'img-gray': selectedIndex != $index}">
                <p class="mt8"
                   ng-class="{'text-accent': selectedIndex == $index, 'text-gray': selectedIndex != $index}">
                    {{str[item]}}
                </p>
            </div>
        </div>
    </div>
</div>
<script src="/angular/angular.min.js"></script>
<script src="/angular-aria/angular-aria.min.js"></script>
<script src="/angular-animate/angular-animate.min.js"></script>
<script src="/angular-messages/angular-messages.min.js"></script>
<script src="/angular-material/angular-material.min.js"></script>
<link href="/angular-material/angular-material.css" rel="stylesheet">
<link href="/mfm-wallet/base/angular-bugfixes.css" rel="stylesheet">

<script src="/mfm-wallet/utils/lightweight-charts.standalone.production.js"></script>

<link href="/mfm-wallet/utils/odometer-theme-default.css" rel="stylesheet">
<script src="/mfm-wallet/utils/odometer.min.js"></script>
<script src="/mfm-wallet/utils/odometer-utils.js"></script>
<script src="/mfm-wallet/utils/swipeToRefresh.js"></script>
<script src="/mfm-wallet/utils/qrcode.min.js"></script>
<script src="/mfm-wallet/utils/bip39.js"></script>
<script src="/mfm-wallet/utils/pnglib.js"></script>
<script src="/mfm-wallet/utils/identicon.js"></script>
<script src="/mfm-wallet/utils/telegram-web-app.js"></script>

<link href="colors.css?v=12" rel="stylesheet">
<link href="style.css?v=12" rel="stylesheet">
<link href="style_async.css?v=12" rel="stylesheet">

<link href="/mfm-shorts/shorts.css" rel="stylesheet">

<script src="/crypto-js/crypto-js.js"></script>
<script src="/mfm-wallet/utils/storage.js?v=12"></script>
<script src="/mfm-wallet/base/back_utils.js?v=12"></script>

<script src="/mfm-wallet/base/formats.js?v=12"></script>
<script src="/mfm-wallet/navigator.js?v=12"></script>
<script src="/mfm-wallet/base/front_utils.js?v=12"></script>

<script src="/mfm-wallet/strings/default.js?v=12"></script>
<script src="/mfm-wallet/strings/default2.js?v=12"></script>
<script async src="/mfm-wallet/success/controller.js?v=12"></script>

<script src="/mfm-wallet/login/controller.js?v=12"></script>
<script src="/mfm-wallet/login/telegram/controller.js?v=12"></script>
<script src="/mfm-wallet/wallet/controller.js?v=12"></script>
<script src="/mfm-wallet/search/controller.js?v=12"></script>
<script src="/mfm-wallet/store/controller.js?v=12"></script>
<script src="/mfm-wallet/controller.js?v=12"></script>
<script>
    controller(start)
</script>
<script async onload="loaded()" src="/mfm-wallet/pin/controller.js?v=12"></script>
<script async onload="loaded()" src="/mfm-wallet/ask/controller.js?v=12"></script>
<script async onload="loaded()" src="/mfm-wallet/tran/controller.js?v=12"></script>
<script async onload="loaded()" src="/mfm-wallet/launch/distribution/controller.js?v=12"></script>
<script async onload="loaded()" src="/mfm-wallet/launch/name/controller.js?v=12"></script>
<script async onload="loaded()" src="/mfm-wallet/launch/logo/controller.js?v=12"></script>
<script async onload="loaded()" src="/mfm-wallet/profile/chart/controller.js?v=12"></script>
<script async onload="loaded()" src="/mfm-wallet/profile/controller.js?v=12"></script>
<script async onload="loaded()" src="/mfm-wallet/send/controller.js?v=12"></script>
<script async onload="loaded()" src="/mfm-wallet/settings/controller.js?v=12"></script>
<script async onload="loaded()" src="/mfm-wallet/settings/lang/controller.js?v=12"></script>
<script async onload="loaded()" src="/mfm-wallet/miner/controller.js?v=12"></script>
<script async onload="loaded()" src="/mfm-wallet/mining/controller.js?v=12"></script>
<script async onload="loaded()" src="/mfm-wallet/mining/read_all/controller.js?dv=9"></script>
<script async onload="loaded()" src="/mfm-wallet/deposit/controller.js?v=12"></script>
<script async onload="loaded()" src="/mfm-wallet/exchange/controller.js?v=12"></script>
<script async onload="loaded()" src="/mfm-wallet/exchange/bot/controller.js?v=12"></script>
<script async onload="loaded()" src="/mfm-wallet/dividend/controller.js?v=12"></script>
<script async onload="loaded()" src="/mfm-wallet/airdrop/add/controller.js?v=12"></script>
<script async onload="loaded()" src="/mfm-wallet/airdrop/get/controller.js?v=12"></script>
<script async onload="loaded()" src="/mfm-wallet/withdrawal/controller.js?v=12"></script>
</body>
</html>