<!DOCTYPE html>
<html lang="en">
<head>
    <title>MyToken</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">
    <!--<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">-->
    <style>
        body {
            background: #0f1620;
        }

        .loader {
            top: 50%;
            left: 50%;
            width: 50px;
            height: 50px;
            margin: -25px 0 0 -25px;
            position: absolute;

            aspect-ratio: 1;
            border-radius: 50%;
            border: 8px solid #86909c;
            border-right-color: #46aef5;
            animation: l2 1s infinite linear;
        }

        @keyframes l2 {
            to {
                transform: rotate(1turn)
            }
        }

    </style>
</head>
<body class="col" ng-app="App" ng-controller="Controller" style="overflow: hidden">
<div style="position: absolute; left:0; top: 0; width: 100%; height: 100%; z-index: 1"
     ng-style="{'visibility': showBody ? 'hidden' : 'visible'}">
    <div class="loader"></div>
</div>
<div class="flex col" ng-cloak style="visibility: hidden"
     ng-style="{'visibility': showBody ? 'visible' : 'hidden'}">
    <md-tabs class="flex col" md-selected="selectedIndex">
        <md-tab label="0">
            <ng-include class="flex col" src="'/mfm-wallet/trans/index.html?nocache'"></ng-include>
        </md-tab>
        <md-tab label="1">
            <ng-include class="flex col" src="'/mfm-wallet/home/index.html?nocache'"></ng-include>
        </md-tab>
        <md-tab label="2">
            <ng-include class="flex col" src="'/mfm-wallet/wallet/index.html?nocache'"></ng-include>
        </md-tab>
    </md-tabs>
    <div class="col align-start-center fill-width p16 pt8 back-black ng-cloak"
         style="position: absolute; bottom: 0;">
        <div class="row block">
            <div class="flex col pv16 align-start-center ripple"
                 ng-repeat="item in menu"
                 ng-click="selectTab($index)">
                <img class="img18" src="/mfm-wallet/img/{{item}}.svg"
                     ng-class="{'img-accent': selectedIndex == $index, 'img-gray': selectedIndex != $index}">
                <p class="mt8"
                   ng-class="{'text-accent': selectedIndex == $index, 'text-gray': selectedIndex != $index}">
                    {{str[item]}}</p>
            </div>
        </div>
    </div>
</div>
<script src="/angular/angular.min.js"></script>
<script src="/angular-aria/angular-aria.min.js"></script>
<script src="/angular-animate/angular-animate.min.js"></script>
<script src="/angular-messages/angular-messages.min.js"></script>
<script src="/angular-material/angular-material.min.js"></script>
<link href="/angular-material/angular-material.css" rel="stylesheet">

<!--load only open in telegram (has bot parameter)-->
<script src="/mfm-telegram/js/telegram-web-app.js"></script>

<script src="/mfm-wallet/utils/lightweight-charts.standalone.production.js"></script>

<link href="/mfm-flex/flex.css" rel="stylesheet">
<link href="/mfm-angular-template/css/colors.css" rel="stylesheet">
<link href="/mfm-angular-template/css/bugfixes.css" rel="stylesheet">
<link href="/mfm-angular-template/css/shorts.css" rel="stylesheet">
<link href="style.css" rel="stylesheet">
<link href="style_async.css" rel="stylesheet" lazyload>

<script src="/mfm-angular-template/js/formats.js"></script>
<script src="/mfm-wallet/navigator.js"></script>
<script src="/mfm-angular-template/js/ui.js"></script>

<script src="/crypto-js/crypto-js.js"></script>
<script src="/mfm-wallet/utils/backend.js"></script>

<script src="/mfm-wallet/strings/default.js"></script>
<script>
    let lang = getParam('lang', storage.getString(storageKeys.language, navigator.language.split("-")[0]))
    let scriptTag = document.createElement('script');
    scriptTag.src = "/mfm-wallet/strings/lang/" + lang + ".js";
    document.body.appendChild(scriptTag)
</script>
<script async src="/mfm-wallet/dialogs/success/controller.js"></script>

<script src="/mfm-angular-template/js/markdown-it.min.js "></script>
<script src="/mfm-angular-template/js/highlight.min.js"></script>
<link href="/mfm-angular-template/css/github-dark.min.css" rel="stylesheet">

<script src="controller.js?nocache"></script>
<script src="/mfm-wallet/trans/controller.js?nocache"></script>
<script src="/mfm-wallet/wallet/controller.js?nocache"></script>
<script src="/mfm-wallet/home/controller.js?nocache"></script>
<script>
    controller(main)
    window.Telegram.WebApp.expand()
</script>
<script async src="/mfm-wallet/wallet/login/controller.js?nocache"></script>
<script async src="/mfm-wallet/wallet/launch/distribution/controller.js?nocache"></script>
<script async src="/mfm-wallet/wallet/launch/pro/controller.js?nocache"></script>
<script async src="/mfm-bank/ask_credit/controller.js?nocache"></script>
<script async src="/mfm-wallet/wallet/launch/name/controller.js?nocache"></script>
<script async src="/mfm-wallet/wallet/launch/logo/controller.js?nocache"></script>
<script async src="/mfm-wallet/dialogs/pin/controller.js?nocache"></script>
<script async src="/mfm-analytics/chart/controller.js?nocache"></script>
<script async src="/mfm-analytics/funnel/controller.js?nocache"></script>
<script async src="/mfm-wallet/wallet/profile/controller.js?nocache"></script>
<script async src="/mfm-wallet/wallet/receive/controller.js?nocache"></script>
<script async src="/mfm-wallet/wallet/send/controller.js?nocache"></script>
<script async src="/mfm-wallet/wallet/settings/controller.js?nocache"></script>
<script async src="/mfm-wallet/wallet/settings/lang/controller.js?nocache"></script>
<script async src="/mfm-wallet/dialogs/web/controller.js?nocache"></script>
<script async src="/mfm-bank/deposit/console/controller.js?nocache"></script>
<script async src="/mfm-bank/withdrawal/console/controller.js?nocache"></script>
<script async src="/mfm-wallet/trans/tran/controller.js?nocache"></script>
<script async src="/mfm-wallet/wallet/search/controller.js?nocache"></script>
<script async src="/mfm-mining/console/controller.js?nocache"></script>
<script async src="/mfm-exchange/exchange/controller.js?nocache"></script>
<script async src="/mfm-analytics/review/controller.js?nocache"></script>
<script async src="/mfm-analytics/reviews/controller.js?nocache"></script>
<script async src="/mfm-bank/get_credit/controller.js?nocache"></script>
<script async src="/mfm-bank/credit/controller.js?nocache"></script>
</body>
</html>