<!DOCTYPE html>
<html lang="en" translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#000000">
    <meta name="google" value="notranslate">
    <link rel="icon" href="logo.svg">
    <meta name="description"
          content="Vavilon Network - инновационная блокчейн-сеть с бесплатными транзакциями и доходом от майнинга для валидаторов.">
    <meta name="keywords"
          content="Vavilon Network, блокчейн, бесплатные транзакции, майнинг, валидаторы, PoS, масштабируемость, безопасность">
    <title>Vavilon Network - Blockchain Network</title>

    <style>
        body {
            background: #0f1620;
        }

        .loader {
            top: 50%;
            left: 50%;
            width: 50px;
            height: 50px;
            margin: -25px 0 0 -25px;
            position: absolute;

            aspect-ratio: 1;
            border-radius: 50%;
            border: 8px solid #86909c;
            border-right-color: #46aef5;
            animation: l2 1s infinite linear;
        }

        @keyframes l2 {
            to {
                transform: rotate(1turn)
            }
        }

    </style>
</head>
<body class="col nowrap" ng-app="App" ng-controller="Controller" style="overflow: hidden">
<div style="position: absolute; left:0; top: 0; width: 100%; height: 100%; z-index: 1"
     ng-style="{'visibility': showBody ? 'hidden' : 'visible'}">
    <div class="loader"></div>
</div>
<div class="flex col" ng-cloak style="visibility: hidden"
     ng-style="{'visibility': showBody ? 'visible' : 'hidden'}">
    <md-tabs class="flex col" md-selected="selectedIndex">
        <md-tab label="0">
            <ng-include class="fill col" src="'/mfm-wallet/trans/index.html?nocache'"></ng-include>
        </md-tab>
        <md-tab label="1">
            <ng-include class="fill col" src="'/mfm-wallet/wallet/index.html?nocache'"></ng-include>
        </md-tab>
        <md-tab label="2">
            <div class="fill col p0">
                <div class="row p16 align-start-center gap16">
                    <div class="flex col">
                        <div class="flex row radius-default border-gray">
                            <img class="img20 img-gray"
                                 style="position: absolute; left: 32px; top: 32px"
                                 src="/mfm-wallet/img/search.svg"/>
                            <input type="text"
                                   class="border-none radius-default"
                                   id="search_input"
                                   autocomplete="off"
                                   style="padding: 20px 0 20px 48px;"
                                   oninput="this.value = this.value.toLowerCase().replace(/[^a-z0-9_]/g, '')"
                                   ng-model="search_text"
                                   ng-change="search()"
                                   placeholder="{{str.type_token_name}}">
                            <img class="img14 m16 img-gray"
                                 ng-show="search_text"
                                 ng-click="clear()"
                                 src="/mfm-wallet/img/close.svg"/>
                        </div>
                    </div>
                </div>
                <ng-include src="'/mfm-wallet/search/index.html?nocache'"></ng-include>
            </div>
        </md-tab>
    </md-tabs>
    <div class="col align-start-center fill-width p16 pt8 back-black ng-cloak"
         style="position: absolute; bottom: 0;">
        <div class="row block">
            <div class="flex col pv8 align-start-center ripple relative"
                 ng-repeat="item in menu"
                 ng-click="selectTab($index)">
                <img class="img18" src="/mfm-wallet/img/{{item}}.svg"
                     ng-class="{'img-accent': selectedIndex == $index, 'img-gray': selectedIndex != $index}">
                <p class="mt8"
                   ng-class="{'text-accent': selectedIndex == $index, 'text-gray': selectedIndex != $index}">
                    {{str[item]}}
                </p>
            </div>
        </div>
    </div>
</div>
<script src="/angular/angular.min.js"></script>
<script src="/angular-aria/angular-aria.min.js"></script>
<script src="/angular-animate/angular-animate.min.js"></script>
<script src="/angular-messages/angular-messages.min.js"></script>
<script src="/angular-material/angular-material.min.js"></script>
<link href="/angular-material/angular-material.css" rel="stylesheet">
<link href="/mfm-wallet/utils/angular-bugfixes.css?nocache" rel="stylesheet">

<script src="/mfm-wallet/utils/lightweight-charts.standalone.production.js"></script>

<link href="/mfm-wallet/utils/odometer-theme-default.css" rel="stylesheet">
<script src="/mfm-wallet/utils/odometer.min.js"></script>
<script src="/mfm-wallet/utils/odometer-utils.js"></script>
<script src="/mfm-wallet/utils/swipeToRefresh.js"></script>
<script src="/mfm-wallet/utils/bip39.js"></script>
<script src="/mfm-wallet/utils/pnglib.js"></script>
<script src="/mfm-wallet/utils/identicon.js"></script>

<link href="colors.css?nocache" rel="stylesheet">
<link href="style.css?nocache" rel="stylesheet">
<link href="style_async.css?nocache" rel="stylesheet">

<link href="/mfm-flex/flex.css" rel="stylesheet">
<link href="/mfm-flex/shorts.css?nocache" rel="stylesheet">

<script src="/mfm-wallet/utils/formats.js?nocache"></script>
<script src="/mfm-wallet/navigator.js?nocache"></script>
<script src="/mfm-wallet/utils/front_utils.js?nocache"></script>

<script src="/crypto-js/crypto-js.js?nocache"></script>
<script src="/mfm-wallet/utils/back_utils.js?nocache"></script>

<script src="/mfm-wallet/strings/default.js?nocache"></script>
<script async src="/mfm-wallet/dialogs/success/controller.js?nocache"></script>

<script src="controller.js?nocache"></script>
<script src="/mfm-wallet/wallet/login/controller.js?nocache"></script>
<script src="/mfm-wallet/wallet/controller.js?nocache"></script>
<script src="/mfm-wallet/trans/controller.js?nocache"></script>
<script src="/mfm-wallet/search/controller.js?nocache"></script>
<script>
    controller(start)
</script>
<script async onload="loaded()" src="/mfm-wallet/dialogs/pin/controller.js?nocache"></script>
<script async onload="loaded()" src="/mfm-wallet/dialogs/ask/controller.js?nocache"></script>
<script async onload="loaded()" src="/mfm-wallet/trans/tran/controller.js?nocache"></script>
<script async onload="loaded()" src="/mfm-wallet/wallet/launch/distribution/controller.js?nocache"></script>
<script async onload="loaded()" src="/mfm-wallet/wallet/launch/name/controller.js?nocache"></script>
<script async onload="loaded()" src="/mfm-wallet/wallet/launch/logo/controller.js?nocache"></script>
<script async onload="loaded()" src="/mfm-wallet/wallet/profile/chart/controller.js?nocache"></script>
<script async onload="loaded()" src="/mfm-wallet/wallet/profile/controller.js?nocache"></script>
<script async onload="loaded()" src="/mfm-wallet/wallet/send/controller.js?nocache"></script>
<script async onload="loaded()" src="/mfm-wallet/wallet/settings/analytics/controller.js?nocache"></script>
<script async onload="loaded()" src="/mfm-wallet/wallet/settings/controller.js?nocache"></script>
<script async onload="loaded()" src="/mfm-wallet/wallet/settings/lang/controller.js?nocache"></script>
<script async onload="loaded()" src="/mfm-wallet/wallet/settings/review/controller.js?nocache"></script>
<script async onload="loaded()" src="/mfm-wallet/wallet/settings/reviews/controller.js?nocache"></script>
<script async onload="loaded()" src="/mfm-wallet/wallet/settings/version/controller.js?nocache"></script>
<script async onload="loaded()" src="/mfm-wallet/wallet/mining/controller.js?nocache"></script>
<script async onload="loaded()" src="/mfm-wallet/wallet/pool/controller.js?nocache"></script>
</body>
</html>