.space {
    height: 60px;
}

@keyframes trophy {
    0% {
        transform: translateY(500px);
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fly--up {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    80% {
        transform: translateY(-20vw);
    }
    100% {
        transform: translateY(-15vw);
        opacity: 0;
    }
}

@keyframes fly--down {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    80% {
        transform: translateY(20vw);
    }
    100% {
        transform: translateY(15vw);
        opacity: 0;
    }
}

@keyframes fly--left {
    0% {
        transform: translateX(10px);
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    80% {
        transform: translateX(-35vw);
    }
    100% {
        transform: translateX(-180px);
        opacity: 0;
    }
}

@keyframes fly--right {
    0% {
        transform: translateX(-10px);
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    80% {
        transform: translateX(35vw);
    }
    100% {
        transform: translateX(180px);
        opacity: 0;
    }
}

@keyframes fly--up--left {
    0% {
        transform: rotate(135deg) translate(0vw, 0vw);
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        transform: rotate(135deg) translate(-3vw, 20vw);
        opacity: 0;
    }
}

@keyframes fly--up--right {
    0% {
        transform: rotate(45deg);
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        transform: rotate(45deg) translate(-3vw, -20vw);
        opacity: 0;
    }
}

@keyframes fly--down--left {
    0% {
        transform: rotate(45deg) translate(0vw, 0vw);
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        transform: rotate(45deg) translate(-3vw, 20vw);
        opacity: 0;
    }
}

@keyframes fly--down--right {
    0% {
        transform: rotate(135deg) translate(0vw, 0vw);
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        transform: rotate(135deg) translate(0vw, -20vw);
        opacity: 0;
    }
}


.success-anim-container {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    outline: solid 1px red;
}

.trophy {
    z-index: 1;
    background-color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    animation: trophy 0.5s 1 forwards;
}

.success-anim-action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 300px;
    height: 25vw;
    max-width: 300px;
    width: 25vw;
}

.success-anim-action .confetti,
.success-anim-action .confetti--purple {
    z-index: -1;
    position: absolute;
    height: 50px;
    width: 10px;
    border-radius: 10px;
    animation-fill-mode: forwards;
    animation-duration: 0.75s;
    animation-iteration-count: 1;
    transform-origin: center middle;
    opacity: 0;
}

.success-anim-action .confetti {
    top: 0;
    left: calc(50% - 5px);
    background-color: #ffea00;
    animation-name: fly--up;
    animation-delay: 0.35s;
}

.success-anim-action .confetti.two {
    top: auto;
    bottom: 0;
    animation-name: fly--down;
}

.success-anim-action .confetti.three,
.success-anim-action .confetti.four {
    top: calc(50% - 5px);
    left: calc(50% - 25px);
    height: 10px;
    width: 50px;
    animation-name: fly--left;
}

.success-anim-action .confetti.four {
    animation-name: fly--right;
}

.success-anim-action .confetti--purple {
    background-color: #6200ea;
    animation-name: fly--up--left;
    transform: rotate(135deg);
    animation-delay: 0.5s;
    left: 20%;
    top: 20%;
}

.success-anim-action .confetti--purple.two {
    animation-name: fly--up--right;
    left: auto;
    right: 20%;
    transform: rotate(45deg);
}

.success-anim-action .confetti--purple.three {
    top: auto;
    bottom: 20%;
    transform: rotate(45deg);
    animation-name: fly--down--left;
}

.success-anim-action .confetti--purple.four {
    top: auto;
    bottom: 20%;
    left: auto;
    right: 20%;
    transform: rotate(135deg);
    animation-name: fly--down--right;
}


input[type="checkbox"] {
    margin: 0;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--black);
    border-radius: 5px;
    border: 1px solid var(--gray400);
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
}

input[type="checkbox"]:checked {
    background-color: var(--accent);
}

input[type="checkbox"]:checked:before {
    content: "";
    position: absolute;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}


input[type="range"] {
    -webkit-appearance: none;
    background: var(--gray100);
    height: 2px;
    border-radius: 50px;
    background-image: linear-gradient(var(--white), var(--white));
    background-size: 50% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 80%;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background-color: #D5D4D8;
    border-radius: 50%;
}


.range-container {
    position: relative;
}

.romb {
    position: absolute;
    left: 25%;
    top: 1px;
    width: 5px;
    height: 5px;
    rotate: 45deg;
    z-index: -1;
}


.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: transparent;
    position: relative;
}


svg {
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.st0, .st1, .st2, .st3 {
    fill: none;
    stroke: var(--green);
    stroke-width: 32;
    stroke-miterlimit: 10;
}

.st0 {
    stroke-dasharray: 12.1947, 12.1947, 12.1947, 12.1947, 12.1947, 12.1947;
}


.st1 {
    stroke-dasharray: 50, 90, 200, 30, 40, 0
}

.st2 {
    stroke-linecap: square;
    stroke-dasharray: 120, 20, 110, 20, 140;
}

.st3 {
    stroke-width: 16;
    stroke-linecap: square;
}


@keyframes growAndFade {
    0% {
        opacity: .25;
        transform: scale(0);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.focus {
    animation: growAndFade 1.5s infinite ease-out;
    background-color: white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    opacity: 0;
}


.refresh-icon {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    width: 30px;
    height: 30px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.refresh-icon.visible {
    opacity: 1;
    transform: translateX(-50%) rotate(180deg);
}

.input-content > .refresh-icon {
    box-sizing: unset;
}