@font-face {
    font-family: FontMedium;
    src: url("/mfm-wallet/font/Inter_18pt-Medium.ttf");
}

@font-face {
    font-family: FontBold;
    src: url("/mfm-wallet/font/Inter_18pt-Bold.ttf");
}

@font-face {
    font-family: FontMonoMedium;
    src: url("/mfm-wallet/font/RobotoMono-Medium.ttf");
}

@font-face {
    font-family: FontMonoBold;
    src: url("/mfm-wallet/font/RobotoMono-Bold.ttf");
}

body {
    font-family: FontMedium, Roboto, "Helvetica Neue", sans-serif;
}
body {
    overflow-anchor: none;
}

md-bottom-sheet {
    padding: 10px 0 60px 0;
    border-top-width: 0;
    margin: 0 auto;
    max-width: 600px;
    background: var(--black);
    color: var(--white);
    box-shadow: 4px 0 4px rgba(255, 255, 255, 0.2);
}

body {
    white-space: nowrap;
    font-size: 14px;
}

.mono {
    font-family: FontMonoMedium, Roboto, "Helvetica Neue", sans-serif;
}

.mono.bold {
    font-family: FontMonoBold, Roboto, "Helvetica Neue", sans-serif;
}

html, body, md-dialog {
    background-color: var(--back);
    color: var(--white);
}

a:link {
    color: var(--accent);
}

a:visited {
    color: var(--accent);
}

a:active {
    color: var(--accent);
}

.input-content {
    width: 100%;
}

.input-content > * {
    margin: 16px 16px 8px 16px;
}

.input-content > *:first-child {
    margin-top: 8px;
}

.input-content > *:last-child {
    margin-bottom: 8px;
}

.input-wrapper {
    position: relative;
}

.input-wrapper label {
    position: absolute;
    left: 42px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
    background: var(--black);
    padding: 0 4px;
    transition: 0.2s;
    pointer-events: none;
}

.input-wrapper input:focus + label,
.input-wrapper input:not(:placeholder-shown) + label {
    transform: translateY(-32px) scale(0.9);
}

input:disabled {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.05);
}

.input-wrapper > *:first-child {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
}

input {
    padding-left: 48px;
    background-color: var(--black);
    color: var(--white);
    height: 50px;
    width: 100%;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    padding-top: 4px;
    border: 1px solid var(--gray300);
}

.input-content > .input-wrapper > input {
    padding-left: 52px;
}

.input-wrapper > button {
    border: none;
    position: absolute;
    right: 8px;
    top: 8px;
}

textarea {
    padding: 16px;
    width: 100%;
    height: auto;
    background-color: var(--black);
    color: var(--white);
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid var(--gray300);
    box-sizing: border-box;
    resize: none;
}

.input-wrapper > input:disabled {
    color: var(--gray200);
}

input::placeholder {
    color: var(--gray200);
    font-family: FontMedium, Roboto, "Helvetica Neue", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-label {
    top: 0;
    left: 24px;
    position: absolute;
    padding: 0 2px;
    background-color: var(--back);
    color: var(--gray300);
    font-size: 12px;
}

.input:hover, .input:focus {
    border: 1px solid var(--gray300);
}

.input.search {
    border-radius: 20px;
    padding-top: 1px
}

.primary-button {
    background-color: var(--accent);
    border: none;
    cursor: pointer;
    font-family: FontBold;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--white);
    padding: 18px;
    margin: 16px;
    text-align: center;
    border-radius: 4px;
    white-space: normal;
}

.primary-button > * {
    box-sizing: border-box;
    margin-right: 4px;
}

.primary-button > *:last-child {
    margin-right: 0;
}

button {
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--gray300);
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.text-black {
    color: var(--black);
}

.text-white {
    color: var(--white);
}

.text-gray {
    color: var(--gray300);
}

.text-green {
    color: var(--green);
}

.text-red {
    color: var(--red);
}

.text-accent {
    color: var(--accent);
}

.back-black {
    background: var(--black);
}

.back-white {
    background: var(--white);
}

.back-green {
    background: var(--green);
}

.back-red {
    background: var(--red);
}

.back-blur {
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.4);
}

.back-accent {
    background: var(--accent);
}

.back-gray {
    background: var(--gray100);
}

.back-yellow {
    background: var(--yellow);
}


/* Ripple effect */
.ripple:active {
    background-color: var(--gray200);
    border-radius: 16px;
}

.text0 {
    font-family: FontBold;
    color: var(--white);
    font-size: 32px;
}

.text1 {
    font-family: FontBold;
    color: var(--white);
    font-size: 16px;
}

.text2 {
    color: var(--gray300);
    font-size: 12px;
}


.block {
    width: 1180px;
}

@media (max-width: 600px) {
    body {
    }

    .mob-scroll-disabled {
        overflow: hidden;
    }

    ::-webkit-scrollbar {
        width: 0;
    }
}

.border-accent{
    border: 1px solid var(--accent);
}

.border-white {
    border: 1px solid var(--white);
}

.border-gray {
    border: 1px solid var(--gray200);
}

.header {
    padding: 16px;
    min-height: 60px;
    width: 100%;
    gap: 16px;
    font-size: 16px;
    font-family: FontBold;
}

.scroll-horizontal {
    overflow-x: scroll;
    overflow-y: hidden;
}

.scroll-vertical {
    overflow-y: scroll;
    overflow-x: hidden;
}

.scroll {
    overflow-y: scroll;
}

.scroll .block > :last-child {
    padding-bottom: 160px;
}

img {
    user-drag: none;
    -webkit-user-drag: none
}


.md-button {
    margin: 0;
    height: 38px;
}

*:focus {
    outline: none;
}

.wauto {
    width: 100%;
    height: auto;
}

/* angular fixes*/

p {
    margin: 0;
    padding: 0;
}


.back-pay {
    background: linear-gradient(90deg, var(--accent) 0%, var(--pay) 100%);
}

.primary-button:active,
button:active {
    color: var(--gray400);
    background: var(--gray200);
}

.primary-button:disabled,
.primary-button[disabled],
button:disabled,
button[disabled] {
    color: var(--gray100);
    cursor: default;
    background: var(--gray300);
    pointer-events: none;
}

md-radio-button.md-default-theme .md-on, md-radio-button .md-on {
    background-color: var(--accent);
}

.md-track-container {
    background-color: var(--accent);
}

.text-align-center {
    text-align: center;
}

.bold {
    font-family: FontBold, Roboto, "Helvetica Neue", sans-serif;
}

.divider {
    background-color: var(--gray200);
    width: 100%;
    min-height: 1px;
    margin-top: 4px;
}

.divider-white {
    background-color: var(--gray400);
    width: 100%;
    height: 1px;
    margin-top: 4px;
}

.tab {
    border-bottom: 2px solid transparent;
}

.tab.active {
    border-bottom: 2px solid #4F50FB;
}

#messages_send_input::placeholder {
    color: var(--gray400);
}

.img-fav {
    filter: invert(100%) sepia(44%) saturate(7500%) hue-rotate(3deg) brightness(102%) contrast(102%);
}

.filter {
    color: var(--black);
    padding: 8px 16px 8px 16px;
    border-radius: 16px;
    border: 1px solid var(--accent);
    margin-right: 8px;
    margin-bottom: 8px;
}

.filter.active {
    background-color: var(--accent);
}

.filter-black {
    color: var(--white);
    padding: 8px 16px 8px 16px;
    border-radius: 16px;
    border: 1px solid var(--accent);
    margin-right: 8px;
    margin-bottom: 8px;
}

.filter-black.active {
    background-color: var(--accent);
    color: var(--black);
}


.lds-ring {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 959px) {
    md-toast {
        bottom: unset !important;
    }
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
    border-radius: 30px;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.loader {
    width: 20px;
    height: 20px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader .face {
    border-radius: 50%;
    animation: animate 3s linear infinite;
}

.loader .face:nth-child(1) {
    width: 100%;
    height: 100%;
    color: gold;
    border-width: 0.2em 0.2em 0em 0em;
    --deg: -45deg;
    animation-direction: normal;
}

.loader .face:nth-child(2) {
    width: 70%;
    height: 70%;
    color: lime;
    border-width: 0.2em 0em 0em 0.2em;
    --deg: -135deg;
    animation-direction: reverse;
}

.loader .face .circle {
    position: absolute;
    width: 50%;
    height: 0.1em;
    top: 50%;
    left: 50%;
    background-color: transparent;
    transform: rotate(var(--deg));
    transform-origin: left;
}

.loader .face .circle::before {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    content: '';
    width: 1em;
    height: 1em;
    background-color: currentColor;
    border-radius: 50%;
    box-shadow: 0 0 2em,
    0 0 4em,
    0 0 6em,
    0 0 8em,
    0 0 10em,
    0 0 0 0.5em rgba(255, 255, 0, 0.1);
}

@keyframes animate {
    to {
        transform: rotate(1turn);
    }
}

.green-toast .md-toast-content {
    background: #009461;
    text-wrap: auto;
    line-height: 18px;
}

.red-toast .md-toast-content {
    background: var(--red);
    text-wrap: auto;
    line-height: 18px;
}

@media (max-width: 600px) {
    .red-toast, .green-toast {
        bottom: 0 !important;
        width: 100%;
        left: 0;
        right: 0;
    }
}

.pin-unfilled, .pin-filled {
    border: 1px solid var(--gray400);
    border-radius: 4px;
    width: 75px;
    height: 70px;
    margin-left: 8px;
    text-align: center;
    font-size: 70px;
    line-height: 90px;
    position: relative;
}

.pin-unfilled::after {
    content: '';
    display: block;
    width: calc(75px - 32px);
    height: 2px;
    background: var(--gray200);
    position: absolute;
    bottom: 16px;
    left: 16px;
}

.pin-filled {
    border: 1px solid var(--green);
}

.footer_background {
    min-height: 1200px;
    background: radial-gradient(43.65% 30.04% at 100% 34.32%, rgba(25, 161, 102, .188) 0, rgba(25, 161, 102, 0) 96.22%), radial-gradient(54.83% 54.7% at 4.44% 100%, rgba(53, 101, 229, .3) 0, rgba(53, 101, 229, 0) 100%), radial-gradient(69.52% 87.02% at 97.18% 100%, rgba(8, 150, 252, .4) 0, rgba(53, 101, 229, 0) 100%), #13151a;
}

.footer_up_background {
    min-height: 1200px;
    background: radial-gradient(47.62% 93.46% at 64.87% 2.03%, rgba(156, 38, 80, .45) 0, rgba(156, 38, 80, 0) 100%), #13151a;
}

.header_background {
    min-height: 1200px;
    background: radial-gradient(154.16% 36.43% at 46.78% 100%, rgba(52, 170, 255, .4) 0, rgba(0, 102, 255, .132) 52.6%, rgba(0, 102, 255, 0) 100%), radial-gradient(74.9% 52.95% at 75.44% 1.97%, rgba(156, 38, 80, .45) 0, rgba(156, 38, 80, 0) 100%), radial-gradient(179.13% 86.27% at 94.11% 1.87%, rgba(53, 101, 229, .75) 0, rgba(53, 101, 229, .133) 73.12%, rgba(53, 101, 229, 0) 100%), radial-gradient(47.31% 33.89% at 35.7% 100%, rgba(53, 101, 229, .4) 0, rgba(53, 101, 229, 0) 100%), radial-gradient(33.07% 52.27% at 37.24% 100%, #24314f 0, rgba(36, 49, 79, 0) 100%), #0f1115;
}

md-dialog {
    max-width: 980px;
}

.checkmark {
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: var(--green);
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px var(--green);
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: var(--green);
    fill: var(--black);
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


::-webkit-scrollbar {
    display: none;
}

.show-scrollbar::-webkit-scrollbar {
    display: block;
}


.backgroundd {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.backgroundd::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 1px;
    height: 100vh;
    border-left: 1px dashed;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    animation: rotate 10s linear infinite;
    transform-origin: bottom center;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    background-size: 700%;
    background-position: 100%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


md-slider-container md-input-container input[type=number] {
    color: var(--white);
}


li {
    margin-top: 8px;
    line-height: 1.4em;
}


md-toast .md-toast-content {
    padding: 16px;
    min-height: 0;
}

md-toast .md-toast-content::before {
    min-height: 0;
}


.hover-accent {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.hover-accent:hover {
    background-color: var(--accent);
}

.hover-scale {
    transition: transform 0.3s ease;
}

.hover-scale:hover {
    transform: scale(1.1);
}


a[title="Charting by TradingView"] {
    display: none;
}


.store-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    width: 75px;
}

div[ng-include] > p {
    margin-top: 16px;
}