@font-face {
    font-family: FontMedium;
    src: url("/mfm-wallet/font/Inter_18pt-Medium.ttf");
}

@font-face {
    font-family: FontBold;
    src: url("/mfm-wallet/font/Inter_18pt-Bold.ttf");
}

@font-face {
    font-family: FontMonoMedium;
    src: url("/mfm-wallet/font/RobotoMono-Medium.ttf");
}

@font-face {
    font-family: FontMonoBold;
    src: url("/mfm-wallet/font/RobotoMono-Bold.ttf");
}

html, md-dialog, md-bottom-sheet {
    background-color: var(--back);
    color: var(--white);
    white-space: nowrap;
    font-size: 14px;
    font-family: FontMedium, Roboto, "Helvetica Neue", sans-serif;
}

body {
    overflow-anchor: none;
}

md-bottom-sheet {
    padding: 10px 0 60px 0;
    border-top-width: 0;
    margin: 0 auto;
    max-width: 600px;
    box-shadow: 4px 0 4px rgba(255, 255, 255, 0.2);
}

.mono {
    font-family: FontMonoMedium, Roboto, "Helvetica Neue", sans-serif;
}

.mono.bold {
    font-family: FontMonoBold, Roboto, "Helvetica Neue", sans-serif;
}

a:link {
    color: var(--accent);
}

a:visited {
    color: var(--accent);
}

a:active {
    color: var(--accent);
}

.input-content {
    width: 100%;
}

.input-content > * {
    margin: 16px 16px 8px 16px;
}

.input-content > *:first-child {
    margin-top: 8px;
}

.input-content > *:last-child {
    margin-bottom: 8px;
}

.input-wrapper {
    position: relative;
}

.input-wrapper label {
    position: absolute;
    left: 42px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
    background: var(--black);
    padding: 0 4px;
    transition: 0.2s;
    pointer-events: none;
}

.input-wrapper input:focus + label,
.input-wrapper input:not(:placeholder-shown) + label {
    transform: translateY(-32px) scale(0.9);
}

input:disabled {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.05);
}

.input-wrapper > *:first-child {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
}

input {
    padding-left: 48px;
    background-color: var(--black);
    color: var(--white);
    height: 50px;
    width: 100%;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    padding-top: 4px;
    border: 1px solid var(--gray300);
}

.input-content > .input-wrapper > input {
    padding-left: 52px;
}

.input-wrapper > button {
    border: none;
    position: absolute;
    right: 8px;
    top: 8px;
}

textarea {
    padding: 16px;
    width: 100%;
    height: auto;
    background-color: var(--black);
    color: var(--white);
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid var(--gray300);
    box-sizing: border-box;
    resize: none;
}

.input-wrapper > input:disabled {
    color: var(--gray200);
}

.input-wrapper > input:disabled.text-white {
    color: var(--white);
}

input::placeholder {
    color: var(--gray200);
    font-family: FontMedium, Roboto, "Helvetica Neue", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input:hover, .input:focus {
    border: 1px solid var(--gray300);
}

.primary-button {
    background-color: var(--accent);
    border: none;
    cursor: pointer;
    font-family: FontBold;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--white);
    padding: 18px;
    margin: 16px;
    text-align: center;
    border-radius: 4px;
    white-space: normal;
}

.primary-button > * {
    box-sizing: border-box;
    margin-right: 4px;
}

.primary-button > *:last-child {
    margin-right: 0;
}


.primary-button:active,
button:active {
    color: var(--gray400);
    background: var(--gray200);
}

.primary-button:disabled,
.primary-button[disabled],
button:disabled,
button[disabled] {
    color: var(--gray100);
    cursor: default;
    background: var(--gray300);
    pointer-events: none;
}

button {
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--gray300);
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.text0 {
    font-family: FontBold;
    color: var(--white);
    font-size: 32px;
}

.text1 {
    font-family: FontBold;
    color: var(--white);
    font-size: 16px;
    line-height: 24px;
}

.text2 {
    color: var(--gray300);
    font-size: 12px;
}

.text-black {
    color: var(--black);
}

.text-white {
    color: var(--white);
}

.text-gray {
    color: var(--gray300);
}

.text-green {
    color: var(--green);
}

.text-red {
    color: var(--red);
}

.text-accent {
    color: var(--accent);
}

.back-black {
    background: var(--black);
}

.back-white {
    background: var(--white);
}

.back-green {
    background: var(--green);
}

.back-red {
    background: var(--red);
}

.back-blur {
    z-index: 2;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.2);
}

.back-accent {
    background: var(--accent);
}

.back-gray {
    background: var(--gray100);
}

.back-yellow {
    background: var(--yellow);
}

.ripple{
    cursor: pointer;
}

.ripple:active {
    background-color: var(--gray200);
    border-radius: 16px;
}


.block {
    width: 1180px;
}

@media (max-width: 600px) {
    body {
    }

    .mob-scroll-disabled {
        overflow: hidden;
    }

    ::-webkit-scrollbar {
        width: 0;
    }
}

.border-accent{
    border: 1px solid var(--accent);
}

.border-white {
    border: 1px solid var(--white);
}

.border-gray {
    border: 1px solid var(--gray200);
}

.scroll-horizontal {
    overflow-x: scroll;
    overflow-y: hidden;
}

.scroll-vertical {
    overflow-y: scroll;
    overflow-x: hidden;
}

.scroll {
    overflow-y: scroll;
}

.scroll .block > :last-child {
    padding-bottom: 160px;
}

img {
    user-drag: none;
    -webkit-user-drag: none
}

*:focus {
    outline: none;
}

/* angular fixes*/

p {
    margin: 0;
    padding: 0;
}

.back-pay {
    background: linear-gradient(90deg, var(--accent) 0%, var(--pay) 100%);
}

md-radio-button.md-default-theme .md-on, md-radio-button .md-on {
    background-color: var(--accent);
}

.md-track-container {
    background-color: var(--accent);
}

.divider {
    background-color: var(--gray200);
    width: 100%;
    min-height: 1px;
    margin-top: 4px;
}

@media (max-width: 959px) {
    md-toast {
        bottom: unset !important;
    }
}

.loader {
    width: 20px;
    height: 20px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.green-toast .md-toast-content {
    background: #009461;
    text-wrap: auto;
    line-height: 18px;
}

.red-toast .md-toast-content {
    background: var(--red);
    text-wrap: auto;
    line-height: 18px;
}

@media (max-width: 600px) {
    .red-toast, .green-toast {
        bottom: 0 !important;
        width: 100%;
        left: 0;
        right: 0;
    }
}

.pin-unfilled, .pin-filled {
    border: 1px solid var(--gray400);
    border-radius: 4px;
    width: 75px;
    height: 70px;
    margin-left: 8px;
    text-align: center;
    font-size: 70px;
    line-height: 90px;
    position: relative;
}

.pin-unfilled::after {
    content: '';
    display: block;
    width: calc(75px - 32px);
    height: 2px;
    background: var(--gray200);
    position: absolute;
    bottom: 16px;
    left: 16px;
}

.pin-filled {
    border: 1px solid var(--green);
}

md-dialog {
    max-width: 980px;
}

::-webkit-scrollbar {
    display: none;
}

md-slider-container md-input-container input[type=number] {
    color: var(--white);
}

div[ng-include] > p, li {
    margin-top: 8px;
    line-height: 1.4em;
}

md-toast .md-toast-content {
    padding: 16px;
    min-height: 0;
}

md-toast .md-toast-content::before {
    min-height: 0;
}

.hover-accent {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.hover-accent:hover {
    background-color: var(--accent);
}

.hover-scale {
    transition: transform 0.3s ease;
}

.hover-scale:hover {
    transform: scale(1.1);
}


a[title="Charting by TradingView"] {
    display: none;
}


[prevent-double-click] {
    touch-action: manipulation; /* Отключает задержку 300ms в мобильном Safari */
    cursor: pointer; /* Улучшает отзывчивость */
}

.jumping {
    animation: jump 1.2s infinite alternate ease-in-out;
}

@keyframes jump {
    0% {
        transform: translateY(0) scale(1);
    }
    50% {
        transform: translateY(-40px) scale(1.06);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}

.checkmark {
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: var(--green);
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px var(--green);
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: var(--green);
    fill: var(--black);
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}