<md-dialog class="fill col">
    <div class="row header align-start-center">
        <div class="row align-center-center img32 back-gray radius-default ripple"
             ng-click="scrollTo('p2p_faq')">
            <img class="img16 img-gray400" src="/mfm-wallet/img/info.svg">
        </div>
        <p class="flex row align-center">{{str.new_order}}</p>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col scroll">
        <div class="flex col block input-content">
            <div class="row align-start-center back-gray radius-default ripple p16 mt16 mh16"
                 ng-repeat="domain in domains"
                 ng-click="close(domain)">
                <div ng-style="getLogo(domain)"></div>
                <p class="ml16">{{formatDomain(domain)}}</p>
            </div>
            <div></div>
        </div>
    </div>
</md-dialog>