<md-bottom-sheet class="col">
    <div class="row header align-start-center">
        <div class="row img32 radius-default back-gray align-center-center ripple" ng-click="back()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/down.svg">
        </div>
        {{str.details}}
    </div>
    <div class="col content input-content">
        <div class="p0">
            <ng-include src="'/mfm-wallet/trans/trans.html'"></ng-include>
        </div>
        <div class="row mt8" ng-hide="tran.from == wallet.address()">
            <p class="flex text2">{{str.from}}</p>
            <p class="nowrap">{{tran.from}}</p>
        </div>
        <div class="row mt8" ng-hide="tran.to == wallet.address()">
            <p class="flex text2">{{str.to}}</p>
            <p class="nowrap">{{tran.to}}</p>
        </div>
        <div class="row mt8">
            <p class="flex text2">{{str.amount}}</p>
            <p class="nowrap"
               ng-class="{'text-green': tran.to == wallet.address(), 'text-red': tran.from == wallet.address()}">
                {{(tran.to == wallet.address() ? "+" : "-") + formatAmount(tran.amount, tran.domain)}}
            </p>
        </div>
        <div class="row mt8">
            <p class="flex text2">{{str.status}}</p>
            <p class="nowrap text-green">{{str.competed}}</p>
        </div>
        <div class="row mt8">
            <p class="flex text2">{{str.time}}</p>
            <p class="nowrap">{{formatTimeDiff(tran.time)}}</p>
        </div>
        <div class="primary-button" ng-click="copy(tran.next_hash)">
            {{str.copy}} ID
        </div>
        <!--@SerializedName("valueUSD")
        @SerializedName("direction")
        fee
        -->
        <!--<div class="row mt8">
            <p class="flex">TxId</p>
            <div class="row">
                <a class="nowrap" href="{{getTxLink(tran.txid)}}" target="_blank">{{formatHash(tran.txid)}}</a>
                <img class="img16 ml4 ripple img-black" src="/mfm-wallet/img/copy.svg" ng-click="copy(tran.txid)">
            </div>
        </div>-->
    </div>
</md-bottom-sheet>