<md-dialog class="fill col">
    <div class="row header align-start-center">
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="openSupport()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/support.svg">
        </div>
        <p class="flex row align-center-center">{{str.new_token}}</p>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col">
        <div class="col input-content">
            <div class="row input-wrapper">
                <img class="img-white" src="/mfm-wallet/img/text.svg">
                <input type="text"
                       id="search_input"
                       autocapitalize="off"
                       autocomplete="off"
                       maxlength="16"
                       oninput="this.value = this.value.toLowerCase().replace(/[^a-z0-9_]/g, '')"
                       ng-model="search_text"
                       ng-change="search()"
                       placeholder=" ">
                <label for="search_input">{{str.token_name}}</label>
            </div>
            <ul class="col mh16 mv0 text2 text-align-start">
                <li>{{str.min_3_symbols}}</li>
                <li>{{str.oly_english_symbols}}</li>
                <li>{{str.only_lowercase_symbols}}</li>
            </ul>
            <ng-include ng-show="tokens && tokens.length > 0" src="'/mfm-wallet/search/tokens.html?v=9'"></ng-include>
            <div class="primary-button"
                 ng-disabled="!hasTheSameToken() || !search_text || search_text.length < 3"
                 ng-click="selectName()">
                {{str.launch_token}}
            </div>
        </div>
    </div>
</md-dialog>