<div class="flex col scroll-vertical align-start-center">
    <div class="flex col block ph16">
        <img class="refresh-icon img-gray" src="/mfm-wallet/img/reload.svg">
        <div class="row wrap ph8 pt0">
            <div class="text2 ml8 p8 back-gray radius-default ripple uppercase"
                 ng-repeat="item in recent"
                 ng-click="openTokenProfile(item, refresh)">
                {{formatAddress(item)}}
            </div>
        </div>
        <ng-include src="'/mfm-wallet/search/tokens.html'"></ng-include>
        <div class="col align-center-center text1 text-gray"
             ng-hide="tokens.length > 0"
             style="height: 500px">
            {{str.there_is_no_tokens_yet}}
        </div>
        <div></div>
    </div>
</div>
