<md-dialog class="fill col">
    <div class="row input-wrapper m16">
        <img class="img20 img-gray" src="/mfm-wallet/img/search.svg"/>
        <input type="text"
               id="search_input"
               autocomplete="off"
               oninput="this.value = this.value.toLowerCase().replace(/[^a-z0-9_]/g, '')"
               ng-model="search_text"
               ng-change="search()"
               placeholder=" ">
        <label for="search_input">{{str.type_token_name}}</label>
        <div class="col align-center-center relative ml8">
            <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
                <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
            </div>
        </div>
    </div>
    <div class="flex col scroll-vertical align-start-center">
        <div class="flex col block ph8">
            <ng-include src="'/mfm-wallet/search/tokens.html?v=12'"></ng-include>
        </div>
    </div>
</md-dialog>