<div class="flex col scroll-vertical align-start-center">
    <div class="flex col block ph16">
        <img class="refresh-icon img-gray" src="/mfm-wallet/img/reload.svg">
        <div class="row ph16 mt8 align-start-center">
            <p style="min-width: 20px">#</p>
            <p class="flex ml8">{{str.name}}</p>
            <p class="flex-10 row align-end">{{str.price}}</p>
            <p class="flex-20 row align-end">{{str._24h}}</p>
        </div>
        <div class="mt8 ph16 divider"></div>
        <div class="col">
            <div class="row p16 align-start-center ripple gap8"
                 ng-repeat="token in tokens"
                 ng-click="openSearchResult(token.domain)">
                <p style="min-width: 20px">{{$index + 1}}</p>
                <div ng-style="getLogo(token.domain)"></div>
                <p class="flex">{{formatDomain(token.domain)}}</p>
                <p class="flex-10 row align-end">{{formatPrice(token.price)}}</p>
                <p class="flex-20 row align-end" ng-class="percentColor(token.price24)">
                    {{formatChange(token.price24) || "0%"}}
                </p>
            </div>
        </div>
        <div class="col align-center-center text1 text-gray"
             ng-hide="tokens.length > 0"
             style="height: 500px">
            {{str.there_is_no_tokens_yet}}
        </div>
        <div></div>
    </div>
</div>
