<div class="row header align-center-center">
    <div class="row block align-center">
        <p class="text1">Store</p>
    </div>
</div>
<div class="col align-start-center scroll">
    <div class="col block input-content">
        <p class="text1 bold">Top Mining</p>
        <div class="row">
            <div class="col align-start-center" ng-repeat="domain in top_mining">
                <div class="col p16 radius-default back-gray ripple"
                     ng-click="openMining(domain)">
                    <div ng-style="getLogo(domain)"></div>
                </div>
                <p class="mt4 text2">{{domain}}</p>
            </div>
        </div>
        <p class="text1 bold">Top Exchange</p>
        <div class="row">
            <div class="col align-start-center" ng-repeat="domain in top_exchange">
                <div class="col p16 radius-default back-gray ripple"
                     ng-click="openExchange(domain)">
                    <div ng-style="getLogo(domain)"></div>
                </div>
                <p class="mt4 text2">{{domain}}</p>
            </div>
        </div>
    </div>
</div>

