<div class="flex col scroll align-start-center">
    <div class="flex col block">
        <div class="row header align-start-center">
            <img class="img40 p8 img-gray ripple" src="/mfm-wallet/img/support.svg" ng-click="openSupport()">
            <div class="flex row align-center-center" ng-show="wallet.address()">
                <div class="ph16 pv8 back-gray radius-default ripple"
                     ng-click="openSettings()">
                    {{wallet.address()}}
                </div>
            </div>
            <div class="flex" ng-hide="wallet.address()"></div>
            <img class="img40 p8 img-gray ripple" src="/mfm-wallet/img/search.svg" ng-click="openSearch()">
        </div>

        <md-tabs md-selected="slideIndex" class="col p0 mt16 no-swipe" md-swipe-content md-dynamic-height>
            <md-tab label="$index" ng-repeat="domain in slides">
                <div class="col" style="min-height: 200px; padding: 0 16px">
                    <div class="flex row align-start-end back-gray radius-default"
                         ng-click="openSlide(domain)"
                         ng-style="getBack(domain)">
                        <div class="row m16 align-start-center gap16">
                            <div ng-style="getLogo(domain)"></div>
                            <p class="text1">{{formatTicker(domain)}}</p>
                        </div>
                    </div>
                </div>
            </md-tab>
        </md-tabs>

        <div class="col mt16" ng-repeat="category in ['top_search', 'top_exchange', 'top_mining']">
            <p class="text1 ml16 bold">{{str[category]}}</p>
            <div class="row mt16 scroll-horizontal">
                <div class="col ml16 align-start-center" ng-repeat="domain in tops[category]">
                    <div class="col p16 radius-default back-gray ripple"
                         ng-click="openExchange(domain)">
                        <div ng-style="getLogo(domain)"></div>
                    </div>
                    <p class="mt4 text2" style="max-width: 64px">{{formatTickerShort(domain)}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

