<md-dialog class="fill col">
    <div class="row header align-start-center">
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="scrollTo('airdrop_faq')">
            <img class="img16 img-gray400" src="/mfm-wallet/img/info.svg">
        </div>
        <p class="flex row align-center">{{str.new_airdrop}}</p>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col scroll align-start-center">
        <div class="col block input-content">
            <img class="refresh-icon img-gray" src="/mfm-wallet/img/close.svg">
            <div class="row input-wrapper">
                <img class="img-white" src="/mfm-wallet/img/giftbox.svg">
                <input type="text"
                       id="promo"
                       autocapitalize="off"
                       autocomplete="off"
                       minlength="3"
                       maxlength="32"
                       oninput="this.value = this.value.toLowerCase().replace(/[^a-z0-9_]/g, '')"
                       ng-model="promoCode"
                       placeholder="{{str.promo_code}}">
            </div>
            <div class="row input-wrapper">
                <div ng-style="getLogo(domain)"></div>
                <input type="number"
                       autocapitalize="off"
                       autocomplete="off"
                       ng-model="amount"
                       placeholder="{{str.amount}}">
                <button ng-click="setMax()"
                        ng-hide="account.balance == 0">
                    {{str.max}}
                </button>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row gap8">
                        <p class="text-gray">{{str.available}}:</p>
                        <div ng-class="{'text-red': account.balance < amount}">
                            {{formatAmount(account.balance, domain)}}
                        </div>
                    </div>
                    <div class="row mt16 gap8">
                        <p class="text-gray">{{str.per_person}}:</p>
                        <div ng-class="{'text-red': amount > account.balance}">
                            {{formatAmount(round((amount || 0) / receivers, 4), token.domain)}}
                        </div>
                    </div>
                </div>
                <div class="flex"></div>
                <div class="col align-start-center">
                    <div class="row">
                        <button ng-class="{'back-accent': receivers == 1}" ng-click="setReceivers(1)">1</button>
                        <button ng-class="{'back-accent': receivers == 3}" ng-click="setReceivers(3)">3</button>
                        <button ng-class="{'back-accent': receivers == 10}" ng-click="setReceivers(10)">10</button>
                    </div>
                    <p class="mt4 text-gray">{{str.receivers}}</p>
                </div>
            </div>
            <div class="primary-button"
                 ng-click="create()"
                 ng-disabled="!amount || !promoCode || in_progress">
                {{str.share}}
            </div>

            <div class="nowrap-disabled" id="airdrop_faq"
                 ng-include="'/mfm-wallet/products/airdrop/create/rules/' + getLanguage() + '.html'"></div>

            <div></div>
        </div>
    </div>
</md-dialog>