<div class="col back-gray radius-default">
    <div class="row p16 align-start-center ripple"
         ng-repeat="account in accounts"
         ng-click="openTokenProfile(account.domain, refresh)">
        <div ng-style="getLogo(account.domain)"></div>
        <div class="flex col ml16">
            <p>{{formatDomain(account.domain)}}</p>
            <div class="row mt4 text2">
                <p class="">{{formatPrice(account.token.price)}}</p>
                <p class="ml4" ng-class="percentColor(account.token.price24)">
                    {{formatChange(account.token.price24)}}
                </p>
            </div>
        </div>
        <div class="col align-end-end">
            <p>{{formatAmount(account.balance)}}</p>
            <p class="mt4 text2">{{formatPrice(account.token.price * account.balance)}}</p>
        </div>
    </div>
</div>