<div class="flex col">
    <div class="row header align-start-center">
        <img class="img40 p8 img-gray ripple" src="/mfm-wallet/img/home.svg" ng-click="openLanding()">
        <div class="flex row align-center text1">{{host}}</div>
        <img class="img40 p8 img-gray ripple" src="/mfm-wallet/img/settings.svg" ng-click="openSettings(refresh)">
    </div>
    <div class="flex col scroll align-start-center" ng-hide="wallet.address()">
        <div class="flex col block">
            <ng-include src="'/mfm-wallet/wallet/login/login.html?v=5'"></ng-include>
        </div>
    </div>
    <div class="flex col scroll align-start-center" ng-show="wallet.address()">
        <div class="flex col block">
            <img class="refresh-icon img-gray" src="/mfm-wallet/img/reload.svg">
            <div class="input-content">
                <div class="col align-center-center">
                    <div class="row align-center text0" style="margin-top: 40px;">
                        $
                        <div id="total">0</div>
                    </div>
                    <div class="row align-start-center mt8">
                        <div ng-style="getLogo(wallet.vavilon, 16)"></div>
                        <p class="ml8 text2">{{wallet.address()}}</p>
                        <div class="radius-default p8 ripple" ng-click="copy(wallet.address())">
                            <img class="img16 img-gray400" src="/mfm-wallet/img/copy.svg">
                        </div>
                    </div>
                </div>
                <ng-include class="m0" src="'/mfm-wallet/wallet/profile/options.html?v=5'"></ng-include>
                <ng-include ng-show="top_airdrops && top_airdrops.length > 0" src="'/mfm-wallet/wallet/airdrop/airdrops.html?v=5'"></ng-include>
                <div class="col gap16" ng-hide="!wallet.address()">
                    <ng-include src="'/mfm-wallet/wallet/accounts.html?v=5'"></ng-include>
                    <div class="primary-button back-pay mh0 mb0 mt8" ng-click="openLaunchToken(refresh)">
                        {{str.launch_token}}
                    </div>
                    <div class="row primary-button back-black m0"  ng-click="openSupport()">
                        {{str.report_a_bug}}
                    </div>
                    <ng-include src="'/mfm-wallet/search/tokens.html?v=5'"></ng-include>
                </div>

                <ng-include src="'/mfm-wallet/wallet/trans.html?v=5'"></ng-include>
                <div class="col align-center-center text1 text-gray"
                     ng-hide="trans.length > 0"
                     style="height: 500px">
                    {{str.there_is_no_history_yet}}
                </div>
            </div>
        </div>
    </div>
</div>