<div class="flex col">
    <div class="row header align-start-center">
        <img class="img40 p8 img-gray ripple" src="/mfm-wallet/img/home.svg" ng-click="openLanding()">
        <div class="flex row align-center text1">{{str.wallet}}</div>
        <img class="img40 p8 img-gray ripple" src="/mfm-wallet/img/settings.svg" ng-click="openSettings(refresh)">
    </div>
    <div class="flex col" ng-hide="wallet.address()">
        <ng-include src="'/mfm-wallet/wallet/login/login.html?nocache'"></ng-include>
    </div>
    <div class="flex col scroll align-start-center" ng-show="wallet.address()">
        <div class="flex col block input-content">
            <img class="refresh-icon img-gray" src="/mfm-wallet/img/reload.svg">
            <div class="col align-center-center">
                <div class="row align-center text0" style="margin-top: 40px;">
                    $<div id="total">0</div>
                </div>
                <div class="row align-start-center mt8">
                    <div class="radius-default back-black" ng-style="getIdenticon(wallet.address())"></div>
                    <p class="ml8">{{formatAddress(wallet.address())}}</p>
                    <div class="radius-default p8 ripple" ng-click="copy(wallet.address())">
                        <img class="img22 img-gray400" src="/mfm-wallet/img/copy.svg">
                    </div>
                </div>
            </div>
            <ng-include src="'/mfm-wallet/wallet/profile/options.html?nocache'"></ng-include>
            <div class="col gap16" ng-hide="!wallet.address()">
                <ng-include src="'/mfm-wallet/wallet/accounts.html?nocache'"></ng-include>
                <div class="primary-button back-pay mh0" ng-click="openLaunchToken(refresh)">
                    {{str.launch_token}}
                </div>
            </div>
        </div>
    </div>
</div>