<div class="col mh16"
     ng-repeat="item in groupByTimePeriod(trans)">
    <div class="text1 mt8" ng-show="item.day">{{formatDate(item.day)}}</div>
    <div class="row mt8 p16 radius-default back-gray ripple"
         ng-click="openTran(item.next_hash)"
         ng-show="item.amount != 0">
        <div class="radius-default back-black"
             ng-style="getIdenticon(item.from == wallet.address() ? item.to : item.from)"></div>

        <div class="col ml16">
            <p>{{item.from == wallet.address() ? formatAddress(item.to) : formatAddress(item.from)}}</p>
            <p class="mt4 text2 lowercase">
                {{formatSec(item.time)}}</p>
        </div>

        <div class="flex col align-start-end">
            <div ng-class="{'text-red': item.from == wallet.address(), 'text-green': item.from != username}">
                {{(item.from == wallet.address() ? "-" : "+") + formatAmount(item.amount, item.domain)}}
            </div>
            <p class="mt4 text2">{{formatPrice(item.amount * item.price)}}</p>
        </div>
    </div>
</div>
<!--
<div on-screen="loadNextTrans()"
     ng-hide="!next_offset || next_offset == 0">
    Loading more...
</div>-->
