<md-bottom-sheet class="fill col">
    <div class="row header align-start-center">
        <div class="row img32 radius-default back-gray align-center-center ripple" ng-click="back()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/down.svg">
        </div>
        <p>Select token</p>
        <div class="flex row" ng-show="searchMode">
            <div class="flex row input-wrapper ml16">
                <img class="img20 img-gray200"
                     style="position: absolute; left: 8px; top: 11px"
                     src="/mfm-wallet/img/search.svg">
                <input type="text"
                       class="flex input ripple"
                       autocapitalize="off"
                       autocomplete="off"
                       ng-model="search_text"
                       placeholder="Find any token"
                       style="padding-left: 34px; border-radius: 10px; height: 40px;">
            </div>
            <img class="img40 p8 img-gray ripple" src="/mfm-wallet/img/close.svg" ng-click="toggleSearchMode()">
        </div>
    </div>
    <div class="col content align-start-center">
        <div class="col block">
            <ng-include src="'/mfm-wallet/token/token_list.html'"></ng-include>
        </div>
    </div>
</md-bottom-sheet>