<div class="row scroll pl16">
    <div class="col mr4 radius-default border-gray p8 gap8 ripple"
         ng-repeat="item in top_airdrops"
         ng-click="openAirdrop(item.domain, refresh)">
        <div class="row align-start-center gap8">
            <div ng-style="getLogo(item.domain)" style="max-width: 25px; max-height: 25px"></div>
            <p>{{formatDomain(item.domain)}}</p>
        </div>
        <div class="row text2">
        </div>
        <div class="row align-start-center">
            +<p>{{formatPrice(item.reward * item.token.price)}}</p>
            <div class="flex"></div>
            <img class="img14 img-gray" src="/mfm-wallet/img/task.svg">
            <p class="text2">1</p>
        </div>
    </div>
</div>