<md-dialog class="fill col">
    <div class="row header align-start-center">
        <div ng-style="getLogo(token.domain, 24)"></div>
        <div class="flex row align-center-center">
            <p class="uppercase text1">{{formatDomain(token.domain)}}</p>
        </div>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col scroll align-start-center">
        <div class="flex col block">
            <img class="refresh-icon img-gray" src="/mfm-wallet/img/close.svg">
            <div class="input-content" ng-show="domain != wallet.gas_domain">
                <ng-include class="p0" src="'/mfm-wallet/profile/chart/chart.html?v=11'"></ng-include>
                <ng-include class="m0" src="'/mfm-wallet/profile/options.html?v=11'"></ng-include>
            </div>
            <ng-include src="'/mfm-wallet/profile/analytics.html?v=11'"></ng-include>
            <div class="nowrap-disabled mh16"
                 ng-include="'/mfm-wallet/profile/faq/' + getLanguage() + '.html'"></div>
        </div>
    </div>

    <div class="col mh16 align-start-center" ng-show="account && domain == wallet.vavilon">
        <div class="row block">
            <div class="flex mh0 primary-button back-accent radius4 uppercase"
                 ng-click="openDividend(domain)">
                {{str.collect_gas}}
            </div>
        </div>
    </div>

    <div class="col mh16 align-start-center" ng-show="account && domain != wallet.gas_domain">
        <div class="row block gap16">
            <div class="flex mh0 primary-button back-green radius4 uppercase"
                 ng-click="openBuy(domain)"
                 ng-show="gas_account.balance != 0 || account.balance == 0">
                {{str.buy}}
            </div>
            <div class="flex mh0 primary-button back-red radius4 uppercase"
                 ng-click="openSell(domain)"
                 ng-show="account.balance > 0">
                {{str.sell}}
            </div>
        </div>
    </div>

    <div class="col mh16 align-start-center" ng-show="!account">
        <div class="row block">
            <div class="flex mh0 primary-button back-accent radius4 uppercase"
                 ng-click="addToWallet()">
                {{str.add_to_wallet}}
            </div>
        </div>
    </div>

    <div class="col mh16 align-start-center" ng-show="domain == wallet.gas_domain">
        <div class="row block">
            <div class="flex mh0 primary-button back-accent radius4 uppercase"
                 ng-click="openSend(wallet.gas_domain, null, null, refresh)"
                 ng-disabled="account.balance == 0">
                {{str.send}}
            </div>
        </div>
    </div>
</md-dialog>