<md-dialog class="fill col">
    <div class="row header align-start-center">
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="closeAll()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/home.svg">
        </div>
        <div class="flex row align-center-center">
            <p class="text1">{{formatDomain(token.domain)}}</p>
        </div>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col scroll-vertical align-start-center">
        <div class="flex col block">
            <div class="row">
                <div class="col input-content" style="min-width: 200px;">
                    <div class="row radius3">
                        <div class="flex p4 row align-center-center radius3"
                             ng-class="{'back-green static-text-white': !is_sell, 'text-green': is_sell}"
                             ng-click="setIsSell(false)">
                            {{str.buy}}
                        </div>
                        <div class="flex p4 row align-center-center radius3"
                             ng-class="{'back-red static-text-white': is_sell, 'text-red': !is_sell}"
                             ng-click="setIsSell(true)">
                            {{str.sell}}
                        </div>
                    </div>

                    <div class="row input-wrapper">
                        <img class="img-white" src="/mfm-wallet/img/dollar.svg">
                        <input type="number" inputmode="decimal"
                               id="price"
                               ng-model="price"
                               ng-change="changePrice()"
                               placeholder=" ">
                        <label for="price">{{str.price}}</label>
                    </div>

                    <div class="row input-wrapper">
                        <div ng-style="getLogo(domain)"></div>
                        <input type="number" inputmode="decimal"
                               id="amount"
                               ng-model="amount"
                               ng-change="changeAmount()"
                               placeholder=" ">
                        <label for="amount">{{str.amount}}</label>
                    </div>
                    <div class="row">
                        <div class="flex row range-container">
                            <input type="range"
                                   class="flex"
                                   ng-style="{'background-size': portion + '% 100%'}"
                                   ng-model="portion"
                                   min="0" max="100">
                            <div class="romb back-gray"
                                 ng-repeat="i in [3, 25, 50, 75, 98]"
                                 ng-class="{'back-gray': i >= portion, 'back-white': i < portion}"
                                 ng-style="{'left': 'calc(' + i + '% - 4px)'}"></div>
                        </div>
                    </div>

                    <div class="row input-wrapper">
                        <div ng-style="getLogo(wallet.gas_domain)"></div>
                        <input type="text" inputmode="decimal"
                               id="total"
                               ng-model="total"
                               ng-change="changeTotal()"
                               placeholder=" ">
                        <label for="total">{{str.total}}</label>
                    </div>

                    <div class="row pb0"
                         ng-click="setPortion(100)">
                        <div class="flex text-gray">
                            {{str.available}}
                        </div>
                        <div ng-show="is_sell"
                             ng-class="{'text-red': amount > base || base == 0}">
                            {{formatAmount(base, domain)}}
                        </div>
                        <div ng-hide="is_sell"
                             ng-class="{'text-red': total > quote || quote == 0}">
                            {{formatAmount(quote, wallet.gas_domain, 1)}}
                        </div>
                    </div>

                    <div class="primary-button uppercase p8 text1"
                         ng-class="{'back-red': is_sell, ' back-green': !is_sell}"
                         ng-click="place()"
                         ng-disabled="in_progress">
                        {{is_sell ? str.sell : str.buy}}
                    </div>
                </div>


                <div class="flex col mr16 mt8">
                    <!--<div class="row ripple radius3 align-center-center" style="height: 32px"
                         ng-class="{'back-gray': showChart}" ng-click="showChartToggle()">
                        Chart
                    </div>-->
                    <div class="row text2 mv16">
                        <div class="flex">{{formatDomainShort(wallet.gas_domain)}}</div>
                        <div>{{formatDomainShort(domain)}}</div>
                    </div>

                    <!--orderbook-->
                    <div class="col align-end mono" style="height: calc(20px * 6)">
                        <div class="row align-start-center ripple"
                             ng-repeat="item in sell"
                             style="height: 20px; position: relative"
                             ng-click="changePrice(item.price)">
                            <div class="back-red"
                                 style="position: absolute; height: 100%"
                                 ng-style="{'min-width': item.percent + '%', 'opacity': hasMyOrder(item.price) ? 0.5 : 0.2}"></div>
                            <div class="flex text-red">${{item.price.toFixed(4)}}</div>
                            <div>{{item.amount.toFixed(4)}}</div>
                        </div>
                    </div>

                    <div class="row pv16">
                        <p class="flex bold" ng-click="changePrice(token.price)">
                            {{formatPrice(token.price)}}
                        </p>
                    </div>

                    <div class="col align-start mono" style="height: calc(20px * 6)">
                        <div class="row align-start-center ripple"
                             ng-repeat="item in buy"
                             style="height: 20px; position: relative"
                             ng-click="changePrice(item.price)">
                            <div class="back-green"
                                 style="position: absolute; height: 100%"
                                 ng-style="{'min-width': item.percent + '%', 'opacity': hasMyOrder(item.price) ? 0.3 : 0.2}"></div>
                            <div class="flex text-green">${{item.price.toFixed(4)}}</div>
                            <div>{{item.amount.toFixed(4)}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mh16">
                <div class="row mt16 align-start-end">
                    <p>{{str.history}}</p>
                    <p class="flex row align-end text2">{{str.amount}}</p>
                    <div class="flex-30 row align-end-end">
                        <p class="text2">{{str.total}}</p>
                        <div class="mh16"></div>
                    </div>
                </div>
                <div class="col" ng-repeat="orders in [active_orders, history_orders]">
                    <ng-include src="'/mfm-wallet/exchange/orders.html?v=14'"></ng-include>
                </div>
                <div class="col align-center-center text1 text-gray"
                     ng-show="active_orders.length == 0 && history_orders.length == 0"
                     style="height: 200px">
                    {{str.there_is_no_orders_yet}}
                </div>
            </div>
        </div>
</md-dialog>