<div ng-repeat="tran in trans"
     class="col nowrap mt16">
    <div class="row size10 text-gray align-center">{{tran.day}}</div>
    <div class="row align-start-center radius10 back-gray p8 mt8"
         ng-repeat="item in tran.items"
         ng-click="openTran(item)">
        <div class="col">
            <div class="row align-start-end">
                <p class="size10 text-gray">{{item.from == wallet.address() ? "to " : "from "}}</p>
                <p class="ml4 size14 bold">{{item.from == wallet.address() ? item.to : item.from}}</p>
            </div>
            <p class="mt4 size10 text-gray">{{formatSec(item.time)}}</p>
        </div>
        <div class="flex mh8" style="background-image: linear-gradient(to right, var(--gray400) 33%, rgba(255,255,255,0) 0%);
background-position: bottom;
background-size: 10px 1px;
background-repeat: repeat-x;; height: 1px"></div>
        <div class="row align-start-center">
            <p class="bold size16"
               ng-class="{'text-red': item.from == wallet.address(),'text-green': item.from != username}">
                {{(item.from == wallet.address() ? "-" : "+") + item.amount}}
            </p>
            <p class="ml4">{{formatTicker(item.domain)}}</p>
        </div>
    </div>
</div>