<md-dialog class="fill col">
    <div class="row header align-start-center">
        <div class="flex row gap16 align-start-center">
            <div ng-style="getLogo(token.domain)"></div>
            <div class="col">
                <p class="uppercase text1">{{formatDomain(token.domain)}}</p>
                <div class="row mt4 text2">
                    <p class="">{{formatPrice(token.price)}}</p>
                    <p class="ml4" ng-class="percentColor(token.price24)">
                        {{formatChange(token.price24)}}
                    </p>
                </div>
            </div>
        </div>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col scroll align-start-center">
        <div class="flex col block">
            <div class="input-content text-align-center">
                <ng-include class="p0" src="'/mfm-wallet/wallet/profile/chart/chart.html'"></ng-include>
                <ng-include src="'/mfm-wallet/wallet/profile/options.html?nocache'"></ng-include>
            </div>


            <div class="input-content">
                <p class="text1">{{str.tokenomics}}</p>
                <div class="row">
                    <p class="flex text2">{{str.total_sypply}}</p>
                    <p>{{formatAmount(token.supply, token.domain)}}</p>
                </div>
                <div class="row">
                    <p class="flex text2">{{str.circulation_supply}}</p>
                    <p>{{formatPercent((1 - (owner.balance / token.supply)) * 100, 2)}}</p>
                </div>
                <div class="row">
                    <p class="flex text2">{{str.exchange}}</p>
                    <p>{{formatPercent((exchange.balance || 0) / token.supply * 100, 2)}}</p>
                </div>
                <div class="row">
                    <p class="flex text2">{{str.mining}}</p>
                    <p>{{formatPercent((mining.balance || 0) / token.supply * 100, 2)}}</p>
                </div>
                <div class="row">
                    <p class="flex text2">{{str.staking}}</p>
                    <p>{{formatPercent((staking.balance || 0) / token.supply * 100, 2)}}</p>
                </div>
                <div class="row">
                    <p class="flex text2">{{str.created}}</p>
                    <p>{{formatTimeDiff(token.created)}}</p>
                </div>

                <p class="text1">{{str.activity}}</p>
                <div class="row">
                    <p class="text2">{{str.volume24}}</p>
                    <img class="ml4 img12 img-gray" src="/mfm-wallet/img/chart.svg"
                         ng-click="openChartAccomulate(token.domain + '_volume')">
                    <div class="flex"></div>
                    <p>{{formatAmount(token.volume24, token.domain)}}</p>
                </div>
                <div class="row">
                    <p class="text2">{{str.accounts}}</p>
                    <img class="ml4 img12 img-gray" src="/mfm-wallet/img/chart.svg"
                         ng-click="openChartAccomulate(token.domain + '_accounts')">
                    <div class="flex"></div>
                    <p>{{formatAmount(analytics.accounts)}}</p>
                </div>
                <div class="row">
                    <p class="text2">{{str.transactions}}</p>
                    <img class="ml4 img12 img-gray" src="/mfm-wallet/img/chart.svg"
                         ng-click="openChartAccomulate(token.domain + '_trans')">
                    <div class="flex"></div>
                    <p>{{formatAmount(analytics.trans)}}</p>
                </div>

                <p class="text1">{{str.network}}</p>
                <div class="row">
                    <p class="text2">{{str.all_tokens}}</p>
                    <img class="ml4 img12 img-gray" src="/mfm-wallet/img/chart.svg"
                         ng-click="openChartAccomulate('tokens_count')">
                    <div class="flex"></div>
                    <p>{{formatAmount(analytics.tokens_count)}}</p>
                </div>
                <div class="row">
                    <p class="text2">{{str.all_accounts}}</p>
                    <img class="ml4 img12 img-gray" src="/mfm-wallet/img/chart.svg"
                         ng-click="openChartAccomulate('accounts_count')">
                    <div class="flex"></div>
                    <p>{{formatAmount(analytics.accounts_count)}}</p>
                </div>
                <div class="row">
                    <p class="text2">{{str.all_transactions}}</p>
                    <img class="ml4 img12 img-gray" src="/mfm-wallet/img/chart.svg" ng-click="openChartAccomulate('trans_count')">
                    <div class="flex"></div>
                    <p>{{formatAmount(analytics.trans_count)}}</p>
                </div>
                <div class="nowrap-disabled" id="token-readme"></div>
            </div>
        </div>
    </div>
    <div class="col mh16 align-start-center" ng-show="domain != wallet.gas_domain">
        <div class="row block gap16">
            <div class="flex mh0 primary-button back-red radius4 uppercase"
                 ng-click="openSell(domain)"
                 ng-show="account.balance > 0">
                {{str.sell}}
            </div>
            <div class="flex mh0 primary-button back-green radius4 uppercase"
                 ng-click="openBuy(domain)">
                {{str.buy}}
            </div>
        </div>
    </div>
    <div class="space"></div>
</md-dialog>