<md-dialog class="fill col">
    <div class="row header align-start-center">
        <div class="flex row gap16 align-start-center">
            <div ng-style="getLogo(token.domain)"></div>
            <div class="col">
                <p class="uppercase text1">{{formatDomain(token.domain)}}</p>
                <div class="row mt4 text2">
                    <p class="">{{formatPrice(token.price)}}</p>
                    <p class="ml4" ng-class="percentColor(token.price24)">
                        {{formatChange(token.price24)}}
                    </p>
                </div>
            </div>
        </div>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col scroll align-start-center">
        <div class="flex col block">
            <img class="refresh-icon img-gray" src="/mfm-wallet/img/close.svg">
            <div class="input-content text-align-center">
                <ng-include class="p0" src="'/mfm-wallet/wallet/profile/chart/chart.html'"></ng-include>
                <div class="row align-start-end">
                    <div class="flex p16 col align-start-center ripple"
                         ng-click="openMining(domain, refresh)">
                        <img class="img16 img-gray" src="/mfm-wallet/img/mining.svg">
                        <p class="mt8 text2">{{str.mining}}</p>
                    </div>
                    <div class="flex p16 col align-start-center ripple"
                         ng-click="openPool(domain, refresh)">
                        <img class="img16 img-gray" src="/mfm-wallet/img/exchange.svg">
                        <p class="mt8 text2">{{str.swap}}</p>
                    </div>
                    <div class="flex p16 col align-start-center ripple"
                         ng-click="openSend(domain, null, null, refresh)">
                        <img class="img16 img-gray" src="/mfm-wallet/img/send.svg">
                        <p class="mt8 text2">{{str.send}}</p>
                    </div>
                </div>
            </div>
            <ng-include src="'/mfm-wallet/wallet/profile/analytics.html'"></ng-include>
            <ng-include class="ph16" src="'/mfm-wallet/wallet/trans.html'"></ng-include>
        </div>
    </div>

    <div class="col mh16 align-start-center" ng-show="account && domain != wallet.gas_domain">
        <div class="row block gap16">
            <div class="flex mh0 primary-button back-green radius4 uppercase"
                 ng-click="openBuy(domain)">
                {{str.buy}}
            </div>
            <div class="flex mh0 primary-button back-red radius4 uppercase"
                 ng-click="openSell(domain)"
                 ng-show="balance > 0">
                {{str.sell}}
            </div>
        </div>
    </div>

    <div class="col mh16 align-start-center" ng-show="!account">
        <div class="row block">
            <div class="flex mh0 primary-button back-accent radius4 uppercase"
                 ng-click="addToWallet()">
                {{str.add_to_wallet}}
            </div>
        </div>
    </div>

    <div class="col mh16 align-start-center" ng-show="domain == wallet.vavilon">
        <div class="row block">
            <div class="flex mh0 primary-button back-accent radius4 uppercase"
                 ng-click="openDividend(domain)">
                {{str.collect_gas}}
            </div>
        </div>
    </div>
    <!--<div class="space"></div>-->
</md-dialog>