<md-dialog class="fill col block">
    <div class="row header align-start-center">
        <div ng-style="getLogo(token.domain)"></div>
        <div class="flex col">
            <p class="uppercase text1">{{token.domain}}</p>
            <div class="row mt4 text2">
                <p class="">{{formatPrice(token.price)}}</p>
                <p class="ml4" ng-class="percentColor(token.price24)">
                    {{formatChange(token.price24)}}
                </p>
            </div>
        </div>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col content scroll">
        <div class="input-content">

            <ng-include class="p0" src="'/mfm-analytics/chart/chart.html'"></ng-include>

            <div class="row align-start-end">
                <div class="flex p16 col align-start-center ripple"
                     ng-click="openDeposit()">
                    <img class="img16 img-gray" src="/mfm-wallet/img/arrow-down.svg">
                    <p class="mt8 text2">Deposit</p>
                </div>
                <div class="flex p16 col align-start-center ripple"
                     ng-click="openWithdrawal()">
                    <img class="img16 img-gray" src="/mfm-wallet/img/arrow-up.svg">
                    <p class="mt8 text2">Withdrawal</p>
                </div>
                <div class="flex p16 col align-start-center ripple"
                     ng-click="openSend()">
                    <img class="img16 img-gray" src="/mfm-wallet/img/send.svg">
                    <p class="mt8 text2">Send</p>
                </div>
            </div>
        </div>


        <div class="input-content nowrap">
            <p class="text1">Tokenomics</p>
            <div class="row">
                <p class="flex text2">Total supply</p>
                <p>{{formatAmount(token.total, token.domain)}}</p>
            </div>
            <div class="row">
                <p class="flex text2">Circulation supply</p>
                <p>{{formatPercent(token.circulation_percent, 4)}}</p>
            </div>
            <div class="row">
                <p class="flex text2">Distribution</p>
                <p class="uppercase-first-letter">{{token.emitting}}</p>
            </div>
            <div class="row">
                <p class="flex text2">Created</p>
                <p>{{formatTimeDiff(token.created)}}</p>
            </div>

            <p class="text1">Activity</p>
            <div class="row">
                <p class="text2">Volume</p>
                <img class="ml4 img12 img-gray" src="/mfm-wallet/img/chart.svg"
                     ng-click="openChart(token.domain + '_volume')">
                <div class="flex"></div>
                <p>{{formatAmount(token.volume, token.domain)}}</p>
            </div>
            <div class="row">
                <p class="text2">Accounts</p>
                <img class="ml4 img12 img-gray" src="/mfm-wallet/img/chart.svg"
                     ng-click="openChart(token.domain + '_accounts')">
                <div class="flex"></div>
                <p>{{formatAmount(token.accounts)}}</p>
            </div>
            <div class="row">
                <p class="text2">Transactions</p>
                <img class="ml4 img12 img-gray" src="/mfm-wallet/img/chart.svg"
                     ng-click="openChart(token.domain + '_trans')">
                <div class="flex"></div>
                <p>{{formatAmount(token.trans)}}</p>
            </div>

            <p class="text1">Network</p>
            <div class="row">
                <p class="text2">All tokens</p>
                <img class="ml4 img12 img-gray" src="/mfm-wallet/img/chart.svg" ng-click="openChart('tokens_count')">
                <div class="flex"></div>
                <p>{{formatAmount(token.tokens_count)}}</p>
            </div>
            <div class="row">
                <p class="text2">All accounts</p>
                <img class="ml4 img12 img-gray" src="/mfm-wallet/img/chart.svg" ng-click="openChart('accounts_count')">
                <div class="flex"></div>
                <p>{{formatAmount(token.accounts_count)}}</p>
            </div>
            <div class="row">
                <p class="text2">All transactions</p>
                <img class="ml4 img12 img-gray" src="/mfm-wallet/img/chart.svg" ng-click="openChart('trans_count')">
                <div class="flex"></div>
                <p>{{formatAmount(token.trans_count)}}</p>
            </div>
            <div class="nowrap-disabled" id="token-readme"></div>
        </div>
    </div>
    <div class="col mh16 align-start-center" ng-show="token.domain != wallet.gas_domain">
        <div class="row block gap16">
            <div class="flex mh0 primary-button back-green radius4"
                 ng-click="buy()">
                BUY
            </div>
            <div class="flex mh0 primary-button back-red radius4"
                 ng-click="sell()"
                 ng-hide="token.balance <= 0">
                SELL
            </div>
        </div>
    </div>
</md-dialog>