<div class="row">
    <div class="flex p16 col align-start-center ripple"
         ng-click="openExchange(domain, refresh)">
        <img class="img16 img-gray" src="/mfm-wallet/img/exchange.svg">
        <p class="mt8 text2">{{str.swap}}</p>
    </div>
    <div class="flex p16 col align-start-center ripple"
         ng-click="openMiningProfile(domain, refresh)">
        <img class="img16 img-gray" src="/mfm-wallet/img/mining.svg">
        <p class="mt8 text2">{{str.mining}}</p>
    </div>
    <div class="flex p16 col align-start-center ripple"
         ng-click="openSend(domain, null, null, refresh)">
        <img class="img16 img-gray" src="/mfm-wallet/img/send.svg">
        <p class="mt8 text2">{{str.send}}</p>
    </div>
</div>