<div class="flex col">
    <div class="row align-start-center p16 text1">
        <!--<img class="img40 p8 img-gray ripple" src="/mfm-wallet/img/home.svg" ng-click="openLanding()">-->
        <div class="flex row align-center">{{str.apps}}</div>
        <!--<img class="img40 p8 img-gray ripple" src="/mfm-wallet/img/settings.svg" ng-click="openSettings(refresh)">-->
    </div>
    <div class="flex col scroll align-start-center">
        <div class="flex col block input-content">
            <img class="refresh-icon img-gray" src="/mfm-wallet/img/reload.svg">
            <ng-include src="'/mfm-wallet/store/shop.html?v=15'"></ng-include>
        </div>
    </div>
</div>