<md-dialog class="fill col">
    <div class="row align-start-center p16 text1">
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="closeAll()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/home.svg">
        </div>
        <div class="flex row align-center">
            {{str.withdrawal}} {{formatDomain(wallet.gas_domain)}}</p>
        </div>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col scroll align-start-center">
        <div class="flex col block">
            <img class="refresh-icon img-gray" src="/mfm-wallet/img/close.svg">
            <div class="col input-content">
                <div class="row input-wrapper">
                    <div ng-style="getLogo('tron')"></div>
                    <input type="text"
                           id="tron_address"
                           ng-model="tron_address"
                           placeholder=" ">
                    <label for="tron_address">{{str.tron_address}}</label>
                </div>
                <div class="row input-wrapper">
                    <div ng-style="getLogo(domain)"></div>
                    <input type="number"
                           id="amount"
                           ng-model="amount"
                           placeholder=" ">
                    <label for="amount">{{str.amount}} {{formatDomain(domain)}}</label>
                    <button ng-click="setMax()"
                            ng-hide="!account || account.balance == 0">
                        {{str.max}}
                    </button>
                </div>
                <div ng-class="{'text-red': !account || account.balance < amount || account.balance == 0}">
                    {{str.available}}: {{formatAmount(account.balance, account.domain)}}
                </div>
                <div>
                    {{str.commission}}: {{formatAmount(commission, wallet.gas_domain)}}
                </div>
                <div>
                    {{str.receive_to_wallet}}: {{formatAmount(max(0, amount - commission), wallet.gas_domain)}}
                </div>
                <div class="primary-button"
                     ng-click="openSend(domain, wallet.WITHDRAWAL_ADDESS, amount, close)"
                     ng-disabled="!tron_address || !amount || amount > balance || amount < commission">
                    {{str.withdrawal}}
                </div>
            </div>

            <div></div>
        </div>
    </div>
</md-dialog>