<md-dialog class="fill col upper-back" style="flex-direction: column-reverse;">
    <div class="col">
        <div class="col align-center-center">
            <img src="/mfm-wallet/img/crypto-wallet.png" style="width: auto;">
        </div>
        <div class="col input-content">
            <div class="row mt16 input-wrapper">
                <div class="input-label">Username</div>
                <input id="first_input"
                       type="text"
                       autocapitalize="off"
                       autocomplete="off"
                       maxlength="20"
                       ng-model="username">
            </div>
            <div class="row input-wrapper">
                <div class="input-label">Password</div>
                <input type="password"
                       autocapitalize="off"
                       autocomplete="off"
                       ng-model="password">
            </div>
            <!--<div class="primary-button" ng-click="changePass()">pass</div>-->
        </div>
        <div class="primary-button" ng-click="login()"
             ng-disabled="username == '' || password == '' || in_progress">
            Login or Create account
        </div>
    </div>
    <div class="row ph8 pv16 align-start-center" style="position: absolute; left: 16px; top: 16px;">
        <div class="col mr4 ripple" ng-click="close()">
            <img class="img38 p8 img-black" src="/mfm-wallet/img/back.svg">
        </div>
    </div>
</md-dialog>

<!--
ng-disabled="username == '' || password == '' || in_progress"-->
