<md-bottom-sheet class="col mod-fill">
    <div class="row header align-start-center">
        <img class="ripple" src="/mfm-wallet/img/back.svg" ng-click="close()">
        <p>Login</p>
    </div>
    <div class="col content">
        <div class="col input-content">
            <div class="row input-wrapper-black">
                <div class="input-label">Username</div>
                <input id="login_address"
                       type="text"
                       autocapitalize="off"
                       autocomplete="off"
                       maxlength="20"
                       ng-model="username">
            </div>
            <div class="row input-wrapper-black">
                <div class="input-label">Password</div>
                <input type="password"
                       autocapitalize="off"
                       autocomplete="off"
                       ng-model="password">
            </div>
            <div class="row align-start-center">
                <input type="checkbox" ng-click="toggleTerms()" class="styled-checkbox"/>
                <p class="mh8">agree to</p>
                <a href="/mfm-angular-template/docs?path=/mfm-wallet/docs/terms_and_conditions.md" target="_blank">
                    Terms and Conditions
                </a>
            </div>
            <div class="primary-button" ng-click="login()"
                 ng-disabled="!username || !password || in_progress || !agree_with_terms_and_condition">
                Login or Create account
            </div>
        </div>
    </div>
</md-bottom-sheet>

<!--
ng-disabled="username == '' || password == '' || in_progress"-->
