<md-bottom-sheet class="col ">
    <div class="row header align-start-center">
        <img class="ripple" src="/mfm-wallet/img/back.svg" ng-click="close()">
        <p>Login</p>
    </div>
    <div class="col content">
        <div class="col input-content">
            <div class="row mt16 input-wrapper-black">
                <div class="input-label">Username</div>
                <input id="first_input"
                       type="text"
                       autocapitalize="off"
                       autocomplete="off"
                       maxlength="20"
                       ng-model="username">
            </div>
            <div class="row input-wrapper-black">
                <div class="input-label">Password</div>
                <input type="password"
                       autocapitalize="off"
                       autocomplete="off"
                       ng-model="password">
            </div>
        </div>
        <div class="primary-button" ng-click="login()"
             ng-disabled="!username || !password || in_progress">
            Login or Create account
        </div>
    </div>
</md-bottom-sheet>

<!--
ng-disabled="username == '' || password == '' || in_progress"-->
