<div class="row header align-center-center">
    <div class="row block align-start-center">
        <img class="img40 p8 img-gray ripple" src="/mfm-wallet/img/settings.svg" ng-click="openAccount()">
        <div class="flex row align-center text1">Wallet</div>
        <img class="img40 p8 img-gray ripple" src="/mfm-wallet/img/search.svg" ng-click="toggleSearchMode()">
    </div>
</div>
<div class="col align-start-center scroll">
    <div class="col block">
        <div class="col" ng-hide="wallet.address()">
            <div class="col align-start-center mt16" ng-click="login()">
                <p class="size20 bold">Welcome to mytoken.space!</p>
                <p class="size16 mt16">Here you can create your own token.</p>
            </div>
            <div class="flex primary-button" ng-click="login()">
                Login or Create account
            </div>
        </div>
        <div class="col input-content" ng-show="wallet.address()">
            <div class="row align-center size32 bold" style="margin-top: 40px">
                {{formatPrice(getTotalBalance())}}
            </div>
            <div class="row align-start-end">
                <div class="flex p16 col align-start-center ripple"
                     ng-click="openDeposit()">
                    <img class="img16 img-gray" src="/mfm-wallet/img/arrow-down.svg">
                    <p class="mt8 text2">Deposit</p>
                </div>
                <div class="flex p16 col align-start-center ripple"
                     ng-click="openWithdrawal()">
                    <img class="img16 img-gray" src="/mfm-wallet/img/arrow-up.svg">
                    <p class="mt8 text2">Withdrawal</p>
                </div>
                <div class="flex p16 col align-start-center ripple"
                     ng-click="openSend()">
                    <img class="img16 img-gray" src="/mfm-wallet/img/send.svg">
                    <p class="mt8 text2">Send</p>
                </div>
            </div>
        </div>
        <div class="col ph16">
            <ng-include src="'/mfm-wallet/token/token_list.html?nocache'"></ng-include>
        </div>
        <div style="height: 80px;"></div>
    </div>
</div>
