<div class="row header align-center-center">
    <div class="row block align-start-center gap16">
        <div class="col align-start-end regular">
            <div class="row align-start-end">
                <p class="size14 regular mb4 nowrap">my Token</p>
            </div>
            <p class="size20 bold regular">SPACE</p>
        </div>
        <div class="row" ng-show="searchMode">
            <div class="row flex input-wrapper ml16">
                <img class="img20 img-gray200"
                     style="position: absolute; left: 8px; top: 11px"
                     src="/mfm-wallet/img/search.svg">
                <input type="text"
                       class="flex input ripple"
                       autocapitalize="off"
                       autocomplete="off"
                       ng-model="search_text"
                       placeholder="Find any token"
                       style="padding-left: 34px; border-radius: 10px; height: 40px;">
            </div>
            <img class="img40 p8 img-black ripple" src="/mfm-wallet/img/close.svg" ng-click="toggleSearchMode()">
        </div>
        <div class="row flex align-end-center" ng-hide="searchMode">
            <img class="img40 p8 img-black ripple" src="/mfm-wallet/img/settings.svg" ng-click="openAccount()">
            <img class="img40 p8 img-black ripple" src="/mfm-wallet/img/support.svg" ng-click="openSupport()">
            <img class="img40 p8 img-black ripple" src="/mfm-wallet/img/search.svg" ng-click="toggleSearchMode()">
        </div>
    </div>
</div>
<div class="col content scroll">
    <div class="col align-start-center footer_background">
        <div class="col block ">

            <div class="col" ng-show="!searchMode">
                <div class="col" ng-hide="wallet.address()">
                    <div class="col align-start-center mt16" ng-click="login()">
                        <p class="size20 bold">Welcome to mytoken.space!</p>
                        <p class="size16 mt16">Here you can create your own token.</p>
                    </div>
                    <div class="row mh16 mt16" ng-click="login()">
                        <div class="flex primary-button">
                            Login or Create account
                        </div>
                    </div>
                </div>

                <div class="col" ng-show="wallet.address()">
                    <div class="row mt16 mh16 align-start-end">
                        <div class="flex col">
                            <p class="size10">Total balance</p>
                            <div class="mt4 row align-start-center size32 bold">
                                {{formatPrice(getTotalBalance())}}
                            </div>
                        </div>
                        <div class="ripple radius10 black-back white-text size14 pv8 ph16 mb4"
                             style="border: var(--black) solid 2px;"
                             ng-click="openDeposit()">
                            Deposit
                        </div>
                        <div class="button-gray p8 ml4 mb4" ng-click="openWithdrawal()">
                            <img class="img14 img-black" src="/mfm-wallet/img/upload.svg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt8 pv8 gray300-back">
                <div class="ml16"
                     ng-class="{'bold': mode == 'tokens'}"
                     ng-click="setMode('tokens')">
                    Tokens
                </div>
                <div class="ml8"
                     ng-class="{'bold': mode == 'recipes'}"
                     ng-click="setMode('recipes')">
                    recipes
                </div>
                <div class="ml8"
                     ng-class="{'bold': mode == 'mining'}"
                     ng-click="setMode('mining')">
                    mining
                </div>
                <div class="ml8"
                     ng-class="{'bold': mode == 'staking'}"
                     ng-click="setMode('staking')">
                    staking
                </div>
            </div>
            <div class="col" ng-show="mode == 'tokens'">
                <ng-include src="'/mfm-wallet/token/token_list.html'"></ng-include>
            </div>
            <div class="col" ng-show="mode == 'recipes'">
                <div class="col" ng-repeat="recipe in recipes">
                    <div class="row ph16 pv8 align-start-center ripple"
                         ng-click="openCraft(recipe.domain)">
                        <div ng-style="getLogo(recipe.domain)"></div>
                        <div class="flex col  ml8">
                            <p class="size16 uppercase medium">{{recipe.domain}}</p>
                            <p class="size12 gray400-text">{{recipe.owner}}</p>
                        </div>
                        <div class="col align-end-end">
                            <p>{{formatPrice(token.price)}}</p>
                            <p class="size10 mt4" ng-class="percentColor(token.price24)">
                                {{formatChange(token.price24)}}
                            </p>
                        </div>
                        <div class="col align-end-end" style="min-width: 80px">
                            <p>{{formatPrice(token.price * token.balance)}}</p>
                            <p class="size10 mt4">{{formatAmount(token.balance)}}</p>
                        </div>
                    </div>
                    <div class="divider"></div>
                </div>
            </div>
        </div>
    </div>
</div>
