<md-dialog class="fill col">
    <div class="row header align-start-center">
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="openSupport()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/support.svg">
        </div>
        <div class="flex row align-center-center gap8">
            <p class="uppercase text1">Select Tariff</p>
        </div>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col scroll align-start-center">
        <div class="flex col block">
            <img class="refresh-icon img-gray" src="/mfm-wallet/img/close.svg">
            <div class="col p16 gap16">
                <div class="col p16 gap8 radius-default border-gray align-start-center ripple"
                     ng-repeat="tariff in tariffs"
                     ng-click="close(tariff.tariff)">
                    <p>{{tariff.title}}</p>
                    <p>{{tariff.speed}} Hash/min</p>
                    <p>{{tariff.tariff}} usdt/min</p>
                </div>
            </div>
        </div>
    </div>
    <div class="primary-button"
         ng-click="close()">
        Select
    </div>
</md-dialog>