<md-dialog class="fill col">
    <div class="row header align-start-center">
        <img class="ripple" src="/mfm-wallet/img/back.svg" ng-click="close()">
        <p>Account</p>
    </div>
    <div class="col content align-start-center">
        <div class="flex col input-content">
            <div class="row mt16 align-start-end"
                 ng-show="wallet.address()">
                <div class="col">
                    <div class="size10 gray400-text">Username</div>
                    <div class="size16 black-text">{{wallet.address()}}</div>
                </div>
                <img class="img28 p4 ripple ml8 img-black"
                     src="/mfm-wallet/img/copy.svg"
                     ng-click="copy()">
                <div class="flex"></div>
                <div class="button" ng-click="logout()">Logout</div>
            </div>
            <div class="row"
                 ng-hide="wallet.address()">
                <div class="flex primary-button" ng-click="login()">
                    Login or Create account
                </div>
            </div>
            <div class="row align-start-center ripple" ng-click="restart()">
                <img class="img36 p8 img-black" src="/mfm-wallet/img/reload.svg">
                <p>Reload UI</p>
            </div>
            <div class="row align-start-center ripple" ng-click="openPage()">
                <img class="img36 p8 img-black" src="/mfm-wallet/img/doc.svg">
                <p>Privacy policy</p>
            </div>
            <p class="gray400-text">{{model}}</p>
        </div>
    </div>
</md-dialog>