<md-dialog class="fill col">
    <div class="row header align-start-center">
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="openSupport()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/support.svg">
        </div>
        <div class="flex row align-center">
            {{str.ip_address}}
        </div>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col align-start-center">
        <div class="flex col block input-content">
            <div class="row input-wrapper">
                <img class="img-white" src="/mfm-wallet/img/ip.svg">
                <input type="text"
                       autocapitalize="off"
                       autocomplete="off"
                       oninput="this.value = this.value.toLowerCase().replace(/[^0-9.]/g, '')"
                       maxlength="15"
                       minlength="7"
                       ng-model="ip"
                       placeholder="{{str.ip_address}}">
            </div>
            <div class="primary-button"
                    ng-click="nodeAdd()"
                    ng-disabled="in_progress || !ip || !validateIp(ip)">
                {{str.send}}
            </div>
            <div></div>
        </div>
    </div>
</md-dialog>