<md-dialog class="fill col">
    <div class="row header align-start-center">
        <div class="row align-center-center img32 back-gray radius-default ripple"
             ng-click="openP2PPlace(token.domain)">
            <img class="img16 img-gray400" src="/mfm-wallet/img/plus.svg">
        </div>
        <p class="flex row align-center">{{str.p2p}}</p>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col scroll">
        <div class="flex col block input-content">
            <div class="row">
                <div class="flex-50 row">
                    <div class="flex p4 row align-center-center radius3"
                         ng-class="{'back-green static-text-white': !is_sell, 'text-green': is_sell}"
                         ng-click="setIsSell(false)">
                        {{str.buy}}
                    </div>
                    <div class="flex p4 row align-center-center radius3"
                         ng-class="{'back-red static-text-white': is_sell, 'text-red': !is_sell}"
                         ng-click="setIsSell(true)">
                        {{str.sell}}
                    </div>
                </div>
                <div class="flex row align-end">
                    <button class="uppercase">{{token.domain}}</button>
                </div>
            </div>
            <div class="row mt16 align-start-end" ng-show="orders.length > 0">
                <p class="">{{str.p2p_orders}}</p>
            </div>

            <div class="col mt16" ng-repeat="item in orders">
                <div class="row size12 align-start-center">
                    <div class="col">
                        <div class="row align-start-center">
                            <div class="radius-default back-black" ng-style="getIdenticon(wallet.address())"></div>
                            <p class="ml8">{{formatAddress(item.address)}}</p>
                        </div>
                        <div class="row size32">
                            {{formatPrice(item.price)}}
                        </div>
                        <div class="row">
                            {{str.max}} {{formatAmount(item.amount - item.amount_filled, domain)}}
                        </div>
                        <div class="row">
                            {{str.available}} {{formatAmount(item.total - item.total_filled, domain)}}
                        </div>
                    </div>
                    <div class="flex col align-end-end">
                        <p class="mt4 size10 text-gray">{{formatTimeDiff(item.timestamp)}}</p>
                        <div class="primary-button uppercase p8 size12 m0 mt16"
                             ng-class="{'back-red': is_sell, ' back-green': !is_sell}"
                             ng-click="openP2PFill(item)"
                             ng-show="wallet.address()">
                            {{is_sell ? str.sell : str.buy}}
                        </div>
                    </div>
                </div>
                <div class="divider mt16"></div>
            </div>

            <div class="row align-center-center text1 text-gray"
                 ng-show="orders.length == 0"
                 style="height: 200px">
                {{str.there_is_no_orders_yet}}
            </div>
            <div></div>
        </div>
    </div>
</md-dialog>