<div class="fill col">
    <div class="row header align-start-center">
        <div class="row align-center-center img32 back-gray radius-default ripple"
             ng-click="openDirectPlace(domain, swipeToRefresh)">
            <img class="img16 img-gray400" src="/mfm-wallet/img/plus.svg">
        </div>
        <p class="flex row align-center-center">{{str.history}}</p>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="row ph16 gap8 scroll-horizontal">
        <button ng-repeat="item in orderMenu"
                ng-click="selectOrderMenu(item)"
                ng-class="{'back-gray': orderMenuSelected == item}">
            {{str[item]}}
        </button>
    </div>
    <div class="flex col scroll">
        <div class="flex col block input-content">
            <div class="primary-button"
                 ng-show="orderMenuSelected == 'offers'"
                 ng-click="openDirectPlace(domain, swipeToRefresh)">
                {{str.new_order}}
            </div>

            <div class="col ripple"
                 ng-show="orderMenuSelected == 'offers'"
                 ng-repeat="order in orders[orderMenuSelected]">
                <ng-include src="'/mfm-wallet/products/direct/order/order.html'"></ng-include>
                <div class="divider mt16"></div>
            </div>
            <div class="col mt16 ripple"
                 ng-show="orderMenuSelected != 'offers'"
                 ng-repeat="order in orders[orderMenuSelected]"
                 ng-click="openDirectFill(order.id)">
                <ng-include src="'/mfm-wallet/products/direct/order/order.html'"></ng-include>
                <div class="row mt8 align-start-end mb16">
                    <p class="flex">{{formatAddress(order.offer.address)}}</p>
                    <p>{{formatDate(order.offer.created)}}</p>
                </div>
                <div class="divider mt16"></div>
            </div>
            <div class="row align-center-center text1 text-gray"
                 ng-show="orders[orderMenuSelected].length == 0"
                 style="height: 200px">
                {{str.there_is_no_orders_yet}}
            </div>
            <div></div>
        </div>
    </div>
</div>