<md-dialog class="fill col">
    <div class="row header align-start-center">
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="closeAll()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/home.svg">
        </div>
        <div class="flex row align-center">
            {{str.send}}
        </div>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col scroll align-start-center">
        <div class="flex col block input-content">
            <img class="refresh-icon img-gray" src="/mfm-wallet/img/close.svg">
            <div class="row input-wrapper">
                <img class="img-white" src="/mfm-wallet/img/{{block_to_address ? 'lock' : 'user-circle'}}.svg">
                <input type="text"
                       id="send_address"
                       ng-disabled="block_to_address"
                       maxlength="35"
                       ng-model="to_address"
                       placeholder=" ">
                <label for="send_address">{{str.address}}</label>
            </div>
            <div class="row wrap ph8 pt0">
                <div class="text2 ml8 p8 back-gray radius-default ripple"
                     ng-repeat="item in recent"
                     ng-click="setToAddress(item)">
                    {{formatAddress(item)}}
                </div>
            </div>
            <div class="row input-wrapper">
                <div ng-style="getLogo(domain)"></div>
                <input type="number"
                       id="send_amount"
                       ng-model="amount"
                       placeholder=" ">
                <label for="send_amount">{{str.amount}} {{formatDomain(domain)}}</label>
                <button ng-click="setMax()"
                        ng-hide="!account || account.balance == 0">
                    {{str.max}}
                </button>
            </div>
            <div ng-class="{'text-red': !account || account.balance < amount || account.balance == 0}">
                {{str.available}}: {{formatAmount(account.balance, account.domain)}}
            </div>
            <button class="primary-button"
                    ng-click="send(domain)"
                    ng-disabled="in_progress || !to_address || !amount || (account.balance < amount)">
                {{str.send}}
            </button>

            <div class="nowrap-disabled"
                 ng-include="'/mfm-wallet/send/faq/' + getLanguage() + '.html'"></div>
            <div></div>
        </div>
    </div>
</md-dialog>