<md-dialog class="fill col">
    <div class="row header align-start-center">
        <img class="img38 img-black ripple" src="/mfm-wallet/img/back.svg" ng-click="close()">
        <p>New coin</p>
    </div>
    <md-tabs class="flex content" md-selected="selectedIndex">
        <md-tab label="Name">
            <div class="fill col align-center-center">
                <div class="col">
                    <div class="flex col align-start-center input-content">
                        <h2>Type token name</h2>
                        <div class="row input-wrapper">
                            <input id="launch_token_name"
                                   type="text"
                                   class="flex input lowercase"
                                   autocapitalize="none"
                                   autocomplete="off"
                                   ng-model="domain">
                        </div>
                    </div>
                </div>
            </div>
        </md-tab>
        <md-tab label="Launch">
            <div class="fill col align-start-center">
                <div class="col input-content">
                    <h2>Launch progress</h2>
                    <div class="row" ng-repeat="item in stages">
                        <p class="flex">{{item}}</p>

                        <div class="loader"
                             ng-show="$index == stageIndex">
                            <div class="face">
                                <div class="circle"></div>
                            </div>
                            <div class="face">
                                <div class="circle"></div>
                            </div>
                        </div>
                        <img class="img24"
                             src="/mfm-wallet/img/success.svg"
                             ng-show="$index < stageIndex"/>
                        <div class="img24"
                             ng-show="$index > stageIndex"></div>
                    </div>
                </div>
            </div>
        </md-tab>
    </md-tabs>
    <div class="col">
        <div style="height: 5px" ng-hide="in_progress"></div>
        <md-progress-linear md-mode="indeterminate" ng-show="in_progress"></md-progress-linear>
        <div class="primary-button"
             ng-click="next()"
             ng-disabled="in_progress">
            {{selectedIndex != 3
                ? "Next"
                : (in_progress ? "In progress" : "Launch")}}
        </div>
    </div>
</md-dialog>