<div class="col mh16" ng-repeat="tran in trans">
    <div class="text1 mt16">{{tran.day}}</div>
    <div class="text0" ng-hide="tran.day">Need groupByTimePeriod</div>
    <div class="row mt16 p16 radius-default back-gray ripple"
         ng-repeat="item in tran.items"
         ng-click="selectTran(item)">
        <div class="radius-default back-black"
             ng-style="getIdenticon(item.from == wallet.address() ? item.to : item.from)"></div>

        <div class="col ml16">
            <p class="">{{item.from == wallet.address() ? formatAddress(item.to) : formatAddress(item.from)}}</p>
            <p class="mt4 text2 lowercase">
                {{formatSec(item.time)}}</p>
        </div>

        <div class="flex col align-start-end">
            <div ng-class="{'text-red': item.from == wallet.address(), 'text-green': item.from != username}">
                <p ng-show="item.amount == 0">
                    {{str.registration}}
                </p>
                <p ng-hide="item.amount == 0">
                    {{(item.from == wallet.address() ? "-" : "+") + formatAmount(item.amount, item.domain)}}
                </p>
            </div>
            <p class="mt4 text2">{{formatPrice(item.amount * item.token.price)}}</p>
        </div>
    </div>
</div>