<md-dialog class="fill col">
    <div class="row align-start-center p16 text1">
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="closeAll()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/home.svg">
        </div>
        <p class="flex row align-center-center">{{str.new_token}}</p>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col">
        <div class="col input-content">
            <div class="row input-wrapper">
                <img class="img-white" src="/mfm-wallet/img/text.svg">
                <input type="text"
                       id="search_input"
                       class="uppercase"
                       maxlength="16"
                       oninput="this.value = this.value.toLowerCase().replace(/[^a-z0-9_]/g, '')"
                       ng-model="search_text"
                       ng-change="search()"
                       placeholder=" ">
                <label for="search_input">{{str.token_name}}</label>
            </div>
            <ul class="col mh16 mv0 text2 text-align-start">
                <li ng-class="formatColor(check3Symbuls)">{{str.min_3_symbols}}</li>
                <li ng-class="formatColor(checkEnglish)">{{str.oly_english_symbols}}</li>
                <li ng-class="formatColor(checkFreeName)">{{str.name_is_free}}</li>
            </ul>
            <ng-include ng-show="tokens && tokens.length > 0" src="'/mfm-wallet/search/tokens.html?v=15'"></ng-include>
            <div class="primary-button"
                 ng-disabled="!hasTheSameToken() || !search_text || search_text.length < 3"
                 ng-click="next()">
                {{str.launch_token}}
            </div>
        </div>
    </div>
</md-dialog>