<md-dialog class="fill col">
    <div class="row header align-start-center">
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="closeAll()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/home.svg">
        </div>
        <div class="flex row align-center">
            {{str.collect_gas}}</p>
        </div>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col scroll align-start-center">
        <div class="flex col block"
             style="background: radial-gradient(circle at top center, var(--accent) 0%,  rgba(255, 0, 0, 0) 30%);">
            <img class="refresh-icon img-gray" src="/mfm-wallet/img/close.svg">

            <div class="input-content">
                <div class="col align-center-center" style="padding: 40px 0; ">
                    <p>{{str.reward}}</p>
                    <p class="text0">{{formatAmount(reward.amount, wallet.gas_domain)}}</p>
                    <p class="mt8">{{str.all_time}} {{formatAmount(all_rewards, wallet.gas_domain, 0)}}</p>
                </div>
                <div class="primary-button back-pay"
                     ng-click="epochFinish()"
                     ng-disabled="gas.balance < reward.amount * 1.01">
                    {{str.finish_epoch}}
                </div>
                <div class="row align-center-center" ng-show="gas.balance < reward.amount * 1.01">
                    {{str.epoch_will_end_in}} {{formatTime((time - reward.time) / (gas.balance / reward.amount) - (time - reward.time))}}
                </div>
                <div class="col align-center-center" style="padding: 20px 0;">
                    <p>{{str.in_contract}}</p>
                    <p class="text0">{{formatAmount(participants.balance, wallet.vavilon)}}</p>
                </div>


                <div class="row" ng-show="sumTrans() > 0">
                    <p class="text2">{{str.you_block_tokens}}</p>
                    <div class="flex"></div>
                    <p>{{formatAmount(sumTrans(), wallet.vavilon)}}</p>
                </div>

                <div class="row" ng-show="sumTrans() > 0">
                    <p class="text2">{{str.percent_of_reward}}</p>
                    <div class="flex"></div>
                    <p>{{formatPercent(sumTrans() / participants.balance * 100)}}</p>
                </div>

                <div class="row" ng-show="sumTrans() > 0">
                    <p class="text2">{{str.your_reward}}</p>
                    <div class="flex"></div>
                    <p>{{formatAmount(reward.amount * (sumTrans() / participants.balance), wallet.gas_domain)}}</p>
                </div>

                <ng-include src="'/mfm-wallet/wallet/trans.html?v=15'"></ng-include>

                <div class="nowrap-disabled"
                     ng-include="'/mfm-wallet/dividend/faq/' + getLanguage() + '.html'"></div>
            </div>
            <div class="space"></div>
        </div>
    </div>
    <div class="primary-button"
         ng-click="participate()"
         ng-disabled="!account || account.balance == 0">
        {{str.participate}}
        <div class="row ml8 align-center-center"
             ng-show="rewardsReceived < maxRewards && isNotChecked(str.you_block_tokens)">
            <img class="img16 img-yellow" src="/mfm-wallet/img/energy.svg">
            <p>100</p>
        </div>
    </div>

</md-dialog>