<div class="mt16 input-content" ng-show="tran">
    <div class="row">
        <p class="flex text2">TxID</p>
        <p>{{formatAddress(tran.next_hash)}}</p>
        <div class="radius-default ripple" ng-click="copy(tran.next_hash)">
            <img class="img16 img-gray400" src="/mfm-wallet/img/copy.svg">
        </div>
    </div>
    <div class="row" ng-hide="tran.from == wallet.address()">
        <p class="flex text2">{{str.from}}</p>
        <p>{{formatAddress(tran.from)}}</p>
        <div class="radius-default ripple" ng-click="copy(tran.from)">
            <img class="img16 img-gray400" src="/mfm-wallet/img/copy.svg">
        </div>
    </div>
    <div class="row" ng-hide="tran.to == wallet.address()">
        <p class="flex text2">{{str.to}}</p>
        <p>{{formatAddress(tran.to)}}</p>
        <div class="radius-default ripple" ng-click="copy(tran.to)">
            <img class="img16 img-gray400" src="/mfm-wallet/img/copy.svg">
        </div>
    </div>
    <div class="row">
        <p class="flex text2">{{str.amount}}</p>
        <p ng-class="{'text-green': tran.to == wallet.address(), 'text-red': tran.from == wallet.address()}">
            {{(tran.to == wallet.address() ? "+" : "-") + formatAmount(tran.amount, tran.domain)}}
        </p>
    </div>
    <div class="row">
        <p class="flex text2">{{str.status}}</p>
        <p class="text-green">{{str.competed}}</p>
    </div>
    <div class="row">
        <p class="flex text2">{{str.time}}</p>
        <p>{{formatTimeDiff(tran.time)}}</p>
    </div>
</div>