<md-bottom-sheet class="col size24">
    <div class="row header align-start-center">
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="back()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/down.svg">
        </div>
        Enter pin code
    </div>
    <div class="col align-start-center content">
        <div class="col block" style="width: 400px">
            <div class="row align-center-center" style="margin: 40px 0 20px 0">
                <div class="pin-unfilled" ng-hide="pin.length >= 1"></div>
                <div class="pin-filled" ng-show="pin.length >= 1">*</div>
                <div class="pin-unfilled" ng-hide="pin.length >= 2"></div>
                <div class="pin-filled" ng-show="pin.length >= 2">*</div>
                <div class="pin-unfilled" ng-hide="pin.length >= 3"></div>
                <div class="pin-filled" ng-show="pin.length >= 3">*</div>
                <div class="pin-unfilled" ng-hide="pin.length >= 4"></div>
                <div class="pin-filled" ng-show="pin.length >= 4">*</div>
            </div>
            <div class="row">
                <div class="flex-33 col align-center-center ripple pv16" ng-click="add('1')">1</div>
                <div class="flex-33 col align-center-center ripple pv16" ng-click="add('2')">2</div>
                <div class="flex-33 col align-center-center ripple pv16" ng-click="add('3')">3</div>
            </div>
            <div class="row">
                <div class="flex col align-center-center ripple pv16" ng-click="add('4')">4</div>
                <div class="flex col align-center-center ripple pv16" ng-click="add('5')">5</div>
                <div class="flex col align-center-center ripple pv16" ng-click="add('6')">6</div>
            </div>
            <div class="row">
                <div class="flex col align-center-center ripple pv16" ng-click="add('7')">7</div>
                <div class="flex col align-center-center ripple pv16" ng-click="add('8')">8</div>
                <div class="flex col align-center-center ripple pv16" ng-click="add('9')">9</div>
            </div>
            <div class="row">
                <div class="flex col align-center-center ripple pv16 uppercase">
                    <p ng-click="back()" ng-show="setMode">{{str.skip}}</p>
                </div>
                <div class="flex col align-center-center ripple pv16" ng-click="add('1')">0</div>
                <div class="flex col align-center-center ripple pv16" ng-click="remove()">
                    <img class="img36 img-white" src="/mfm-wallet/img/delete.svg">
                </div>
            </div>
        </div>
    </div>
</md-bottom-sheet>