<md-dialog class="fill col">
    <div class="row header align-start-center">
        <p class="flex"></p>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="finish()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col scroll">
        <div class="flex col block">
            <div class="flex col gap16 p16">
                <div class="row back-gray radius-default ripple" ng-click="askCredit(pro_price, finish)">
                    <div class="flex col input-content">
                        <p class="text1">{{str.standard}}</p>
                        <p class="text2">+ {{str.free}}</p>
                    </div>
                    <div class="text1 m16 text-gray">
                        {{formatPrice(0)}}
                    </div>
                </div>
                <div class="row back-gray radius-default ripple border-accent" ng-click="askCredit(pro_price, pro)">
                    <div class="flex col input-content">
                        <p class="text1">{{str.pro}}</p>
                        <p class="text2">+ {{str.price_updates}}</p>
                    </div>
                    <div class="text1 m16 ">
                        {{formatPrice(pro_price)}}
                    </div>
                </div>
                <div class="row back-gray radius-default ripple" ng-click="askCredit(pro_max_price, proMax)">
                    <div class="flex col input-content">
                        <p class="text1">{{str.pro_max}}</p>
                        <p class="text2">+ {{str.price_updates}}</p>
                        <p class="text2">+ {{str.slide_on_home_screen}}</p>
                    </div>
                    <div class="text1 m16 ">
                        {{formatPrice(pro_max_price)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</md-dialog>