<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="row" ng-app="App" ng-controller="Controller">
<div class="col p16">
    <input type="text"
           class="input ripple radius24"
           autocapitalize="off"
           autocomplete="off"
           ng-model="search_domain"
           placeholder="Find any domain"
           style="padding-left: 34px">
    <div class="col pv8 ripple"
         ng-repeat="coin in searchCoins"
         ng-click="selectDomain(coin)">
        <div class="row pv8 align-start-center">
            <img class="img32" src="{{genLogo(coin.logo)}}">
            <div class="col flex ml8">
                <p class="size16 bold uppercase medium">{{coin.domain}}</p>
                <p class="size12 gray400-text">{{coin.owner}}</p>
            </div>
        </div>
        <div class="divider"></div>
    </div>
    <div class="col pv8 ripple"
         ng-repeat="(name, data) in files"
         ng-click="selectFile(name)">
        <div class="row pv8 align-start-center">
            <img class="img32 radius8 img-black" src="../img/file.svg">
            <div class="col flex ml8">
                <p class="size16 bold uppercase">{{name}}</p>
            </div>
        </div>
        <div class="divider"></div>
    </div>

</div>
<div class="flex col" ng-show="mode == 'readme'">
    <div id="output"></div>
</div>
<div class="flex col input-content" ng-show="mode == 'info'">
    <div class="col">
        <p class="size16 bold uppercase">{{selectedFile}}</p>
        <p class="">{{path}}</p>
    </div>
    <div class="col">
        <p class="">Description</p>
        <p class="size16 bold">{{info.description}}</p>
    </div>
    <div class="col input-content gray200-back radius8">
        <p class="">Request</p>
        <div class="row input-wrapper" ng-repeat="(name, param) in info.params">
            <div class="input-label">{{param.name}} ({{(param.type)}}{{param.required ? " required" : ""}})</div>
            <input type="text" ng-model="param.value">
        </div>

        <div class="primary-button" ng-click="makeRequest()">
            Request
        </div>
    </div>
    <pre id="json-display"></pre>
</div>

<script src="/angular/angular.js"></script>
<script src="/angular-aria/angular-aria.js"></script>
<script src="/angular-animate/angular-animate.js"></script>
<script src="/angular-messages/angular-messages.js"></script>
<script src="/angular-material/angular-material.js"></script>
<link href="/angular-material/angular-material.min.css" rel="stylesheet">
<script src="/angular-material/angular-material.min.js"></script>

<script src="/md-viewer-master/Markdown.Converter.js"></script>
<script src="/md-viewer-master/md-viewer.css"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="/Beautiful-JSON-Viewer-Editor/dist/jquery.json-editor.min.js"></script>

<link href="/angular-flex-short/flex.css" rel="stylesheet">
<link href="/angular-flex-short/shorts.css" rel="stylesheet">
<link href="/angular-flex-short/colors.css" rel="stylesheet">
<link href="/angular-flex-short/colors-dark.css" rel="stylesheet">
<link href="../style.css" rel="stylesheet">

<script src="/mfm-wallet/utils/formats.js"></script>
<script src="/mfm-wallet/utils/backend.js"></script>
<script src="/mfm-wallet/utils/ui.js"></script>

<script src="controller.js"></script>
<script>
    controller(main)
</script>
<script async src="/mfm-wallet/dialogs/pin/controller.js"></script>
</body>
