<md-dialog class="fill col block">
    <div class="row header align-start-center">
        <p class="flex">Settings</p>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="col content align-start-center">
        <div class="col input-content">
            <div class="col align-start-center"
                 ng-show="wallet.address()">
                <img class="img64 p8 mr8 img-gray" src="/mfm-wallet/img/user-circle.svg">
                <div class="row align-start-center">
                    <div class="text1">{{wallet.address()}}</div>
                    <img class="img40 p8 ripple img-white"
                         src="/mfm-wallet/img/copy.svg"
                         ng-click="copy()">
                    <div class="flex"></div>
                </div>
            </div>
            <div class="primary-button"
                 ng-click="login()"
                 ng-hide="wallet.address()">
                Login or Create account
            </div>
            <div class="text1">Help</div>
            <div class="row align-start-center ripple" ng-click="leaveReview()">
                <img class="img32 p8 mr8 img-gray" src="/mfm-wallet/img/like.svg">
                <p class="text2">Leave review</p>
            </div>
            <div class="row align-start-center ripple" ng-click="openTermsAndConditions()">
                <img class="img32 p8 mr8 img-gray" src="/mfm-wallet/img/doc.svg">
                <p class="text2">Terms and Conditions</p>
            </div>
            <div class="row align-start-center ripple" ng-click="logout()" ng-show="wallet.address()">
                <img class="img32 p8 mr8 img-red" src="/mfm-wallet/img/arrow-right.svg">
                <p class="text2 text-red">Logout</p>
            </div>


            <div class="text1">Admin panel</div>
            <div class="row align-start-center ripple" ng-click="openReviews()">
                <img class="img32 p8 mr8 img-gray" src="/mfm-wallet/img/like.svg">
                <p class="text2">Reviews</p>
            </div>
            <div class="row align-start-center ripple" ng-click="openBuyFunnel()">
                <img class="img32 p8 mr8 img-gray" src="/mfm-wallet/img/chart.svg">
                <p class="text2">Buy funnel</p>
            </div>
            <div class="col align-center" style="text-align: center">
                <p class="text2">{{package.name}} v{{package.version}}</p>
            </div>
        </div>
    </div>
</md-dialog>