<md-dialog class="fill col">
    <div class="row header align-start-center">
        <p class="flex">{{str.settings}}</p>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col scroll align-start-center">
        <div class="flex col block input-content">
            <div class="primary-button"
                 ng-click="openLogin(close)"
                 ng-disabled="in_progress"
                 ng-hide="wallet.address()">
                {{str.login_or_create_account}}
            </div>
            <div class="text1">{{str.account}}</div>
            <div class="row align-start-center ripple"
                 ng-show="wallet.address()"
                 ng-click="copy(wallet.address())">
                <img class="img32 p8 mr8 img-gray" src="/mfm-wallet/img/user-circle.svg">
                <div class="flex">{{wallet.address()}}</div>
                <img class="img20 img-white" src="/mfm-wallet/img/copy.svg">
            </div>
            <div class="row align-start-center ripple" ng-click="openLanguages()">
                <img class="img32 p8 mr8 img-gray" src="/mfm-wallet/img/language.svg">
                <p class="flex">{{str.language}}</p>
                <p class="">{{language}}</p>
            </div>
            <div class="row align-start-center ripple" ng-click="logout()" ng-show="wallet.address()">
                <img class="img32 p8 mr8 img-red" src="/mfm-wallet/img/arrow-right.svg">
                <p class=" text-red">{{str.logout}}</p>
            </div>

            <div class="text1">{{str.help}}</div>
            <div class="row align-start-center ripple" ng-click="openSupport()">
                <img class="img32 p8 mr8 img-gray" src="/mfm-wallet/img/support.svg">
                <p class="">{{str.support}}</p>
            </div>
            <div class="row align-start-center ripple" ng-click="openReview()">
                <img class="img32 p8 mr8 img-gray" src="/mfm-wallet/img/like.svg">
                <p class="">{{str.leave_review}}</p>
            </div>
            <div class="row align-start-center ripple"
                 ng-click="openShareLink(str.share_link, str.check_and_enjoy, 'https://mytoken.space')">
                <img class="img32 p8 mr8 img-gray" src="/mfm-wallet/img/share.svg">
                <p class="">{{str.share_link}}</p>
            </div>
            <a class="row align-start-center ripple text-white" href="https://www.trustpilot.com/review/mytoken.space" target="_blank">
                <img class="img32 p8 mr8 img-gray" src="/mfm-wallet/img/star.svg">
                <p class="">{{str.rate_us}}</p>
            </a>
            <div class="row align-start-center ripple" ng-click="openDoc('/mfm-wallet/docs/terms_and_conditions.md')">
                <img class="img32 p8 mr8 img-gray" src="/mfm-wallet/img/doc.svg">
                <p class="">{{str.terms_and_conditions}}</p>
            </div>


            <div class="text1">{{str.admin_panel}}</div>
            <div class="row align-start-center ripple" ng-click="openReviews()" ng-show="wallet.address() == 'support'">
                <img class="img32 p8 mr8 img-gray" src="/mfm-wallet/img/star.svg">
                <p class="">{{str.reviews}}</p>
            </div>
            <div class="row align-start-center ripple" ng-click="openAnalytics()">
                <img class="img32 p8 mr8 img-gray" src="/mfm-wallet/img/chart.svg">
                <p class="">{{str.analytics}}</p>
            </div>
            <div class="col align-center" style="text-align: center">
                <p class="text2">mfm-wallet 2023</p>
            </div>
        </div>
    </div>

</md-dialog>