<md-dialog class="fill col">
    <div class="row align-start-center p16 text1">
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="closeAll()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/home.svg">
        </div>
        <div class="flex row align-center">
            <div class="col align-center-center">
                {{str.giveaway}}
                <p class="text2 mt4">{{formatAmount(airdrop.account.balance, domain)}}</p>
            </div>
        </div>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col scroll align-start-center">
        <div class="flex col block">
            <img class="refresh-icon img-gray" src="/mfm-wallet/img/close.svg">
            <div class="col input-content">
                <div class="col border-gray radius-default relative p16">
                    <div class="row align-center-center">
                        <div class="col align-start-center">
                            <p class="text2">{{str.reward}}</p>
                            <p class="text0">{{formatAmount(airdrop.reward, airdrop.domain)}}</p>
                            <p class="text2">{{formatPrice(airdrop.reward * airdrop.token.price)}}</p>
                        </div>
                    </div>
                    <div style="position: absolute;
                                top: 0;
                                right: 0;
                                width: 100px;
                                height: 100px;
                                background-size: cover;
                                background-position: center;
                                opacity: 0.2;
                                z-index: -1;"
                         ng-style="{'background-image': 'url(\'' + getLogoLink(domain) + '\')'}"></div>
                </div>
                <div class="row gap8">
                    <img class="img20"
                         src="/mfm-wallet/img/task.svg"
                         ng-class="{'img-green': isAddedToWallet(), 'img-gray': !isAddedToWallet()}">
                    <p class="flex">1. {{str.add_to_wallet}} {{formatDomain(domain)}}</p>
                    <img class="img16 img-gray"
                         src="/mfm-wallet/img/{{show_task0 ? 'up' : 'down'}}.svg" ng-click="show_task0 = !show_task0">
                </div>
                <div class="row align-end-center" ng-show="show_task0">
                    <div class="primary-button m0 border-gray p8"
                         ng-click="addToWallet()">
                        {{str.add_to_wallet}}
                    </div>
                </div>

                <div class="row gap8">
                    <img class="img20"
                         src="/mfm-wallet/img/task.svg"
                         ng-class="{'img-green': isTelegramSubscribed(), 'img-gray': !isTelegramSubscribed()}">
                    <p class="flex">2. {{str.subscribe_to_telegram}}</p>
                    <img class="img16 img-gray"
                         src="/mfm-wallet/img/{{show_task0 ? 'up' : 'down'}}.svg" ng-click="show_task1 = !show_task1">
                </div>
                <div class="row align-end-center" ng-show="show_task1">
                    <div class="primary-button m0 border-gray p8"
                         ng-click="subscribeToTelegram()">
                        {{str.subscribe}}
                    </div>
                </div>
                <div class="row input-wrapper" ng-show="airdrop.rewarded">
                    <img class="img-white" src="/mfm-wallet/img/user-plus.svg">
                    <input type="text"
                           id="referral_link"
                           ng-model="airdrop.referral_link"
                           placeholder=" ">
                    <label for="referral_link">{{str.referral_link}}</label>
                    <div class="col align-center-center">
                        <img class="img40 p8 ripple img-white"
                             src="/mfm-wallet/img/copy.svg"
                             ng-click="copy(airdrop.referral_link)">
                    </div>
                </div>
                <ul class="col mh16 mv0 text2 text-align-start" ng-show="airdrop.rewarded">
                    <li>{{str.friends_invited}}: {{airdrop.referral_count}}</li>
                    <li>{{str.each_friend_will_bring_you_an_extra_reward}}</li>
                </ul>

                <div class="nowrap-disabled"
                     ng-include="'/mfm-wallet/airdrop/get/faq/' + getLanguage() + '.html'"></div>
                <p ng-show="trans.length > 0">{{str.participants}}</p>
                <ng-include class="m0" src="'/mfm-wallet/wallet/trans.html?v=15'"></ng-include>
            </div>

            <div></div>
        </div>
    </div>
    <div class="primary-button align-center-center"
         ng-disabled="!isRewardEnabled()"
         ng-click="getReward()">
        {{airdrop.rewarded ? str.you_received_reward : str.get_reward}}
        <div class="row ml8 align-center-center"
             ng-show="!airdrop.rewarded && rewardsReceived < maxRewards && isNotChecked(str.giveaway_received)">
            <img class="img16 img-yellow" src="/mfm-wallet/img/energy.svg">
            <p>{{energyReward}}</p>
        </div>
    </div>
</md-dialog>