<md-dialog class="fill col">
    <div class="row header align-start-center">
        <div class="text1">{{str.waiting_for_confirmation}}</div>
        <p class="flex"></p>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col scroll">
        <div class="flex col block input-content">
            <div class="col m16 border-gray radius8">
                <div class="row mt8 mb16 align-start-center gap8">
                    <div class="radius-default back-black" ng-style="getIdenticon(order.parent.address)"></div>
                    <p class="flex">{{formatAddress(order.parent.address)}}</p>
                    <button ng-click="openDirectChat(order.id)">{{str.chat}}</button>
                </div>
            </div>
            <div class="col m16 border-gray radius8">
                <ng-include src="'/mfm-wallet/products/direct/order/order.html'"></ng-include>
            </div>
            <div></div>
        </div>
    </div>
    <div class="primary-button"
         ng-show="(order.parent.is_sell = 1 && order.parent.address == wallet.address()) ||
                  (order.parent.is_sell = 0 && order.address == wallet.address())"
         ng-click="sentMoney(order.id)">
        {{str.i_sent_money}}
    </div>
    <div class="primary-button back-black"
         ng-show="(order.parent.is_sell = 1 && order.parent.address == wallet.address()) ||
                  (order.parent.is_sell = 0 && order.address == wallet.address())"
         ng-click="cancelOrder(order.id)">
        {{str.cancel}}
    </div>
    <div class="primary-button"
         ng-show="(order.parent.is_sell = 1 && order.address == wallet.address()) ||
                  (order.parent.is_sell = 0 && order.parent.address == wallet.address())"
         ng-disabled="order.status != 'sent'"
         ng-click="finishOrder(order.id)">
        {{str.i_received_money}}
    </div>
</md-dialog>