<md-dialog class="fill col">
    <div class="row header align-start-center">
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="openSupport()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/support.svg">
        </div>
        <div class="flex row align-center">
            {{str.staking}}</p>
        </div>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col scroll align-start-center">
        <div class="flex col block">
            <img class="refresh-icon img-gray" src="/mfm-wallet/img/close.svg">

            <div class="col align-center-center" style="margin: 20px 0">
                <p class="text0">{{formatAmount(epoch_tran.amount, wallet.gas_domain)}}</p>
            </div>
            <div class="row align-center-center">
                finish in 2 h
            </div>
            <div class="primary-button back-pay"
                 ng-click="epochFinish()"
                 ng-disabled="mining_gas.balance > round(epoch_tran.amount * 1.01)">
                {{str.finish_epoch}}
            </div>
            <ng-include class="ph16" src="'/mfm-wallet/wallet/accounts.html'"></ng-include>
            <ng-include class="ph16" src="'/mfm-wallet/wallet/trans.html'"></ng-include>
            <div class="nowrap-disabled m16"
                 ng-include="'/mfm-wallet/wallet/dividend/faq/' + getLanguage() + '.html'"></div>

            <div class="space"></div>
        </div>
    </div>

    <div class="primary-button"
         ng-click="openSend(wallet.vavilon, epoch_tran.to, null, refresh)">
        {{str.block_in_contract}}
    </div>

</md-dialog>