<md-bottom-sheet class="col">
    <div class="row header align-start-center">
        <p class="flex">{{str.deposit}} {{formatTicker(wallet.gas_domain)}}</p>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="back()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="col align-start-center">
        <div class="col block input-content">
            <div class="flex row input-wrapper">
                <div ng-style="getLogo(tron)"></div>
                <input type="text"
                       autocapitalize="off"
                       id="deposit_address"
                       ng-model="deposit_address">
                <img class="img40 p8 ripple img-white"
                     src="/mfm-wallet/img/copy.svg"
                     ng-click="copy(deposit_address)">
            </div>
            <div class="flex row">
                <div class="flex">{{str.deposit_deadline}}</div>
                <div>{{formatTime(deadline)}}</div>
            </div>
            <div class="row align-center-start">
                <div class="col align-center-center" style="width: 100px; height: 100px;">
                    <img style="position: absolute" src="/mfm-wallet/img/deposit_circle.png">
                    <p class="size20 text-accent bold">{{countDownTimer}}</p>
                    <div class="mt4 nowrap-disabled" style="text-align: center; max-width: 80px">{{deposit_check}}</div>
                </div>
            </div>
        </div>
    </div>

</md-bottom-sheet>