<md-dialog class="fill col">
  <div class="row header align-start-center">
    <div class="row flex radius3">
      <div class=" p16 row align-center-center radius3"
           ng-class="{'back-gray': selectedIndex == 0, 'text-gray': selectedIndex == 1}"
           ng-click="setTab(0)">
        {{str.swap}}
      </div>
      <div class=" p16 row align-center-center radius3"
           ng-class="{'back-gray': selectedIndex == 1, 'text-gray': selectedIndex == 0}"
           ng-click="setTab(1)">
        {{str.liquidity}}
      </div>
    </div>
    <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
      <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
    </div>
  </div>
  <div class="flex col scroll align-start-center">
    <div class="flex col block">
      <img class="refresh-icon img-gray" src="/mfm-wallet/img/close.svg">
      <md-tabs class="flex col" md-selected="selectedIndex">
        <md-tab label="0">
          <div class="input-content">
            <div class="col" ng-class="{'col-reverse': is_sell == 0}">
              <div class="col p16 back-gray radius-default">
                <div class="row text2">
                  <p class="ml4">{{str.you_pay}}</p>
                  <div class="flex"></div>
                  <p>Balance: {{base.balance}}</p>
                </div>
                <div class="row input-wrapper">
                  <div ng-style="getLogo(domain)"></div>
                  <input type="number"
                         class="flex back-gray border-none size32 bold"
                         ng-model="base_amount"
                         placeholder="0.00">
                  <button ng-click="setMaxBase()" style="right: 0">
                    {{str.max}}
                  </button>
                </div>
              </div>
              <div class="row align-start-center text1 gap8">
                <p>{{str.price}}: </p>
                {{formatPrice(pool.price)}}
                <div class="flex"></div>
                <img class="img32 img-gray mv8 mh16"
                     ng-click="toggleIsSell()"
                     src="/mfm-wallet/img/exchange.svg">
              </div>
              <div class="col p16 back-gray radius-default">
                <div class="row text2">
                  <p class="ml4">{{str.you_get}}</p>
                  <div class="flex"></div>
                  <p>Pool: {{pool.pool_gas}}</p>
                </div>
                <div class="row input-wrapper">
                  <div ng-style="getLogo(wallet.gas_domain)"></div>
                  <input type="number"
                         class="flex back-gray border-none size32 bold"
                         ng-model="quote_amount"
                         placeholder="0.00">
                </div>
              </div>
            </div>

            <div class="row gap8">
              <p>Price impact:</p>
              <p>{{formatPercent(pool.price_impact)}}</p>
            </div>

            <div class="primary-button"
                 ng-disabled=""
                 ng-click="swap()">
              {{str.swap}}
            </div>
          </div>
        </md-tab>
        <md-tab label="1">
          <div class="input-content">
            <div class="col">
              <div class="col p16 back-gray radius-default">
                <div class="row text2">
                  <p class="ml4">{{str.you_pay}}</p>
                  <div class="flex"></div>
                  <p>balance: {{base.balance}}</p>
                </div>
                <div class="row input-wrapper">
                  <div ng-style="getLogo(domain)"></div>
                  <input type="number"
                         class="flex back-gray border-none size32 bold"
                         ng-model="base_amount"
                         placeholder="0.00">
                  <button ng-click="setMaxBase()" style="right: 0">
                    {{str.max}}
                  </button>
                </div>
              </div>
              <div class="row align-start-center text1 gap8">
                <p>{{str.price}}: </p>
                {{formatPrice(pool.price)}}
                <div class="flex"></div>
                <img class="img32 img-gray mv8 mh16"
                     src="/mfm-wallet/img/plus.svg">
              </div>
              <div class="col p16 back-gray radius-default">
                <div class="row text2">
                  <p class="ml4">{{str.you_pay}}</p>
                  <div class="flex"></div>
                  <p>balance: {{quote.balance}}</p>
                </div>
                <div class="row input-wrapper">
                  <div ng-style="getLogo(wallet.gas_domain)"></div>
                  <input type="number"
                         class="flex back-gray border-none size32 bold"
                         ng-model="quote_amount"
                         placeholder="0.00">
                  <button ng-click="setMaxQuote()" style="right: 0">
                    {{str.max}}
                  </button>
                </div>
              </div>
            </div>
            <div class="primary-button"
                 ng-click="addLiquidity()">
              {{str.add_liquidity}}
            </div>
          </div>
        </md-tab>
      </md-tabs>
    </div>
  </div>
</md-dialog>