<md-dialog class="fill col">
    <div class="row header align-start-center">
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="openSupport()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/support.svg">
        </div>
        <p class="flex">{{str.distribution}}</p>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col input-content">
        <div class="col align-center-center" style="min-height: 200px">
            <div class="col align-center-center">
                <img class="img64" src="{{getLogoLink(domain)}}" onload="logoLoaded()">
                <p class="mt16 text2">{{formatDomain(domain)}}</p>
            </div>
        </div>
        <div class="flex"></div>
        <p>{{str.mining_pool}}</p>
        <md-slider-container>
            <md-slider class="md-primary" ng-model="amount_step" min="0" max="6"></md-slider>
            <md-input-container style="max-width: 100%">
                {{formatAmount(amount)}}
            </md-input-container>
        </md-slider-container>
        <p class="text-green">Все токены отправляются в майнинг пул.</p>
        <p class="text-green">Каждый год высвобождается 20% всего пула.</p>
        <div class="primary-button"
             ng-disabled="in_progress"
             ng-click="launch()">
            {{str.launch_token}}
        </div>
        <div class="space"></div>
    </div>
</md-dialog>