<md-dialog class="fill col">
    <div class="row p16 align-start-center gap16">
        <div class="flex col">
            <div class="flex row input-wrapper">
                <img class="img-gray300"
                     style="left: 12px"
                     src="/mfm-wallet/img/search.svg"/>
                <input type="text"
                       id="search_input"
                       autocomplete="off"
                       style="border-radius: 32px;"
                       oninput="this.value = this.value.replace(/[^a-zA-Z0-9_]/g, '').toLowerCase();"
                       ng-model="search_text"
                       ng-change="search()"
                       placeholder="{{str.type_token_name}}">
            </div>
        </div>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="row wrap p8 pt0">
        <div class="text2 ml8 p8 back-gray radius-default ripple"
             ng-repeat="item in recent"
             ng-click="openToken(item)">
            {{formatDomain(item)}}
        </div>
    </div>
    <div class="flex col scroll align-start-center">
        <div class="flex col block ph16">
            <div class="col back-gray radius-default">
                <div class="row p16 align-start-center ripple"
                     ng-repeat="token in tokens"
                     ng-click="openToken(token.domain)">
                    <div ng-style="getLogo(token.domain)"></div>
                    <div class="flex col ml16">
                        <p class="uppercase">{{formatDomain(token.domain)}}</p>
                        <div class="row mt4 text2">
                            <p class="">{{formatPrice(token.price)}}</p>
                            <p class="ml4" ng-class="percentColor(token.price24)">
                                {{formatChange(token.price24)}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col align-center-center text1 text-gray"
                 ng-hide="tokens.length > 0"
                 style="min-height: 100px">
                {{str.nothing_found}}
            </div>
        </div>
    </div>
</md-dialog>