<div class="row size12">
    <div class="flex row mv8 align-center-center"
         ng-class="{'bold': period == period_name}"
         ng-repeat="period in periods"
         ng-click="setPeriod(period)">
        {{period}}
    </div>
</div>
<div ng-show="showNoData"
     class="row align-center-center"
     style="width: 100%; min-height: 300px; max-height: 300px;">
    No data
</div>
<div id="chart"
     style="width: 100%; min-height: 300px; max-height: 300px;"
     ng-show="!showNoData">
</div>