<md-dialog class="fill col">
    <div class="row header align-start-center">
        <img class="img40 p8 img-gray ripple" src="/mfm-wallet/img/info.svg" ng-click="scrollTo('bot_faq')">
        <p class="flex row align-center-center">
            {{str.bot_settings}}
        </p>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col scroll align-start-center">
        <div class="flex col block input-content">
            <img class="refresh-icon img-gray" src="/mfm-wallet/img/close.svg">
            <ng-include src="'/mfm-wallet/wallet/accounts.html?v=5'"></ng-include>
            <div class="primary-button"
                 ng-click="addLiquidity()">
                {{str.add_liquidity}}
            </div>

            <div class="nowrap-disabled" id="bot_faq"
                 ng-include="'/mfm-wallet/wallet/exchange/bot/faq/' + getLanguage() + '.html'"></div>
        </div>
</md-dialog>