<md-bottom-sheet class="col">
    <div class="row header align-start-center">
        <p class="flex">{{str.receive}}</p>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="back()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="col">
        <div class="col input-content">
            <div class="row input-wrapper">
                <div class="input-label">{{str.share_link}}</div>
                <input type="text"
                       ng-model="share_pass">
            </div>
            <div class="primary-button"
                 ng-disabled="!share_pass"
                 ng-click="receive()">
                {{str.receive}}
            </div>
        </div>
    </div>
</md-bottom-sheet>