<md-bottom-sheet class="p0 col">
    <div class="col header align-start-center">
        <p class="flex">{{str.do_you_wanna_get_credit}}</p>
    </div>
    <div class="col input-content">
        <p class="text2">{{str.pass_quiz_and_get_up_to_30_usdt}}</p>
        <div class="col gap16">
            <div class="flex m0 primary-button" ng-click="accept(message)">
                {{str.yes}}
            </div>
            <div class="flex m0 primary-button back-black" ng-click="back()">
                {{str.no}}
            </div>
        </div>
    </div>
</md-bottom-sheet>