<md-dialog class="fill col">
    <div class="row header align-start-center">
        <div class="row align-center-center img32 back-gray radius-default ripple"
             ng-click="scrollTo('p2p_faq')">
            <img class="img16 img-gray400" src="/mfm-wallet/img/info.svg">
        </div>
        <p class="flex row align-center">{{str.new_order}}</p>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col scroll">
        <div class="flex col block input-content">
            <div class="row input-wrapper">
                <img class="img-white" src="/mfm-wallet/img/dollar.svg">
                <input type="number"
                       ng-model="price"
                       disabled
                       ng-change="changePrice()"
                       placeholder="{{str.price}}">
            </div>

            <div class="row input-wrapper">
                <div ng-style="getLogo(offer.domain)"></div>
                <input type="number"
                       ng-model="amount"
                       ng-change="changeAmount()"
                       placeholder="{{str.amount}}">
            </div>

            <div class="row input-wrapper">
                <div ng-style="getLogo(wallet.gas_domain)"></div>
                <input type="number"
                       ng-model="total"
                       ng-change="changeTotal()"
                       placeholder="{{str.total}}">
            </div>

            <div class="primary-button uppercase text1"
                 ng-class="{'back-red': is_sell, ' back-green': !is_sell}"
                 ng-click="place()"
                 ng-disabled="in_progress">
                {{is_sell ? str.sell : str.buy}} {{formatDomainShort(offer.domain)}}
            </div>
            <div id="p2p_faq" class="nowrap-disabled"
                 ng-include="'/mfm-wallet/products/direct/place/rules/' + getLanguage() + '.html'"></div>

            <div></div>
        </div>
    </div>
</md-dialog>