<md-dialog class="fill col">
    <div class="row header align-start-center">
        <p class="flex">{{str.credit}}</p>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col scroll align-start-center">
        <div class="flex col block input-content">
            <div class="col">
                <div class="col back-gray radius-default">
                    <div class="row p16 align-start-center ripple">
                        <div ng-style="getLogo(wallet.gas_domain)"></div>
                        <div class="flex col ml16">
                            <p>{{formatTicker(wallet.gas_domain)}}</p>
                            <p class="mt4 text2">{{formatPrice(token.price)}}</p>
                        </div>
                        <div class="col align-end-end">
                            <p>{{formatAmount(credit, wallet.gas_domain)}}</p>
                            <p class="mt4 text2 nowrap">{{str.pay_offed}} {{formatPrice(pay_off)}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-start-center ripple" ng-click="openDoc('/mfm-bank/docs/credit_rules.md')">
                <img class="img32 p8 mr8 img-gray" src="/mfm-wallet/img/doc.svg">
                <p class="text2">{{str.credit_rules}}</p>
            </div>
            <div class="col p0">
                <ng-include src="'/mfm-wallet/trans/trans.html'"></ng-include>
            </div>
        </div>
    </div>
    <div class="primary-button" ng-click="payOffCredit()">
        {{str.pay_off}}
    </div>
</md-dialog>