<head>
    <title>Explorer</title>
    <link rel="icon" href="logo.svg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="col" ng-app="App" ng-controller="Controller">
<div class="col header align-start-center">
    <div class="flex row block align-start-center gap16">
        <p ng-click="selectedIndex = 0">Analytics</p>
        <p ng-click="selectedIndex = 1">Trans</p>
        <p ng-click="selectedIndex = 2">Tokens</p>
        <p ng-click="selectedIndex = 3">Wallets</p>
        <p ng-click="selectedIndex = 4">Files</p>
        <p ng-click="selectedIndex = 5">Api</p>
    </div>
</div>

<div class="flex col content align-start-center">
    <div class="flex row block">
        <md-tabs class="flex" md-selected="selectedIndex" md-swipe-content>
            <md-tab label="0">
                <iframe class="fill" frameborder="0" loading="lazy"
                        ng-src="{{'/explorer/analytics/index.html' + params}}"></iframe>
            </md-tab>
            <md-tab label="0">
                <iframe class="fill" frameborder="0" loading="lazy"
                        ng-src="{{'/explorer/trans/index.html' + params}}"></iframe>
            </md-tab>
            <md-tab label="0">
                <iframe class="fill" frameborder="0" loading="lazy"
                        ng-src="{{'/explorer/tokens/index.html' + params}}"></iframe>
            </md-tab>
            <md-tab label="0">
                <iframe class="fill" frameborder="0" loading="lazy"
                        ng-src="{{'/explorer/mfm-wallets/index.html' + params}}"></iframe>
            </md-tab>
            <md-tab label="0">
                <iframe class="fill" frameborder="0" loading="lazy"
                        ng-src="{{'/explorer/files/index.html' + params}}"></iframe>
            </md-tab>
            <md-tab label="0">
                <iframe class="fill" frameborder="0" loading="lazy"
                        ng-src="{{'/explorer/apis/index.html' + params}}"></iframe>
            </md-tab>
        </md-tabs>
    </div>
</div>

<script src="/angular/angular.js"></script>
<script src="/angular-aria/angular-aria.js"></script>
<script src="/angular-animate/angular-animate.js"></script>
<script src="/angular-messages/angular-messages.js"></script>
<script src="/angular-material/angular-material.js"></script>
<link href="/angular-material/angular-material.min.css" rel="stylesheet">
<script src="/angular-material/angular-material.min.js"></script>

<link href="/angular-flex-short/flex.css" rel="stylesheet">
<link href="/angular-flex-short/shorts.css" rel="stylesheet">
<link href="/angular-flex-short/colors.css" rel="stylesheet">
<link href="/angular-flex-short/colors-dark.css" rel="stylesheet">
<link href="style.css" rel="stylesheet">

<script src="/mfm-wallet/utils/formats.js"></script>
<script src="/mfm-wallet/utils/backend.js"></script>
<script src="/mfm-wallet/utils/ui.js"></script>

<script src="controller.js"></script>
<script>
    controller(main)
</script>
</body>
