<md-bottom-sheet class="col">
    <div style="position: absolute; right: 0; top: -70px; z-index: 2">
        <img src="/mfm-wallet/img/deposit.png">
    </div>
    <div class="row header align-start-center">
        <img class="ripple" src="/mfm-wallet/img/back.svg" ng-click="back()">
        <p>Deposit {{formatTicker(wallet.quote_domain)}}</p>
    </div>
    <div class="col content align-start-center">
        <div class="col input-content">
            <div class="row input-wrapper-black">
                <div class="input-label">Tron deposit address (TRC-20)</div>
                <input type="text"
                       autocapitalize="off"
                       id="deposit_address"
                       ng-model="deposit_address">
                <div class="input-label-right row align-center-center ripple" ng-click="copy()">
                    <p>Copy</p>
                </div>
            </div>
            <div class="flex row mh16 ">
                <div class="flex">Deposit deadline</div>
                <div class="nowrap">{{formatTime(deadline)}}</div>
            </div>
            <div class="row align-center-start">
                <div class="col align-center-center" style="width: 100px; height: 100px;">
                    <img style="position: absolute" src="/mfm-wallet/img/deposit_circle.png">
                    <p class="size20 accent-text bold">{{countDownTimer}}</p>
                    <div class="mt4" style="text-align: center">Check for <br>deposit</div>
                </div>
            </div>
        </div>
    </div>

</md-bottom-sheet>