<md-bottom-sheet class="col">
    <div class="row shadow-black" style="height: 200px;">
        <div class="flex col align-center-center accent-back">
            <img src="/mfm-wallet/img/info.svg" style="width: 120px; height: 120px;">
        </div>
    </div>
    <div class="col input-content">
        <p>You dont have any usdt. You can:</p>
        <div class="primary-button green-back" ng-click="openCredit()">
            Credit
        </div>
        <div class="button blue-back-ripple" ng-click="openDeposit()">
            Deposit
        </div>
        <div class="button blue-back-ripple" ng-click="back()">
            Skip
        </div>
    </div>
</md-bottom-sheet>