<md-dialog class="fill p0 col">
    <md-tabs class="flex col" md-selected="pageIndex">
        <md-tab label="'ask credit'">
            <div class="fill col">
                <div class="flex col align-center-center input-content">
                    <p class="text1">{{str.do_you_wanna_get_credit}}</p>
                    <p class="text1">{{str.pass_quiz_and_get_up_to_30_usdt}}</p>
                </div>
                <div class="col input-content">
                    <div class="col gap16">
                        <div class="flex m0 primary-button" ng-click="openTab(1)">
                            {{str.yes}}
                        </div>
                        <div class="primary-button m16 back-black" ng-click="close()">{{str.close}}</div>
                    </div>
                </div>
            </div>
        </md-tab>
        <md-tab label="questions.indexOf(item)" ng-repeat="item in questions">
            <div class="fill col">
                <div class="row header align-start-center">
                    <p class="flex"></p>
                    <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
                        <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
                    </div>
                </div>
                <div class="flex col p16 align-center input-content nowrap-disabled">
                    <p class="text1">{{item.question}}</p>
                    <div class="mt16 p16 back-gray radius-default"
                         ng-repeat="answer in item.answers"
                         ng-style="{'background-color': item.answer === answer ? 'var(--gray200)' : 'var(--gray100)'}"
                         ng-click="setAnswer(item, answer)">
                        <p>{{answer}}</p>
                    </div>
                </div>
                <div class="primary-button m16 back-black" ng-click="next()">{{str.complete}}</div>
            </div>
        </md-tab>
        <md-tab label="'accept_credit'">
            <div class="fill col">
                <div class="row header align-start-center">
                    <p class="flex"></p>
                    <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
                        <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
                    </div>
                </div>
                <div class="flex col align-center-center">
                    <div class="img100" style="position: relative">
                        <svg class="img100 checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                        </svg>
                    </div>
                    <div class="row mt16 gap8 align-start-center">
                        <p class="text2">{{str.approved}}:</p>
                        <p class="text1">{{formatAmount(rating, wallet.gas_domain)}}</p>
                    </div>
                </div>
                <div class="primary-button back-pay"
                     ng-disabled="in_progress"
                     ng-click="getCredit(rating)">
                    {{str.receive}}
                </div>
                <div class="primary-button back-black"
                     ng-click="close()">
                    {{str.close}}
                </div>
            </div>
        </md-tab>
    </md-tabs>
</md-dialog>