<md-dialog class="fill col">
    <div class="row header align-start-center">
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="closeAll()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/home.svg">
        </div>
        <p class="flex row align-center-center">{{str.upload_logo}}</p>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="flex col input-content">
        <div class="col align-center-center" style="min-height: 200px">
            <div class="col align-center-center">
                <div class="step" ng-show="!logoLink">
                    <img class="img64 img-accent ripple"
                         ng-click="uploadLogo()"
                         src="/mfm-wallet/img/upload-circle.svg">
                </div>
                <img class="img64" src="{{logoLink}}" onload="logoLoaded()" ng-show="logoLink">
                <p class="mt16 text2">{{formatDomain(domain)}}</p>
            </div>
        </div>
        <div class="flex col scroll align-start-center">
            <div class="row wrap">
                <div class="img64 m8 ripple" style="margin: auto"
                     ng-repeat="item in logos"
                     ng-click="copyLogo(item)"
                     ng-style="getLogo(item, 64)">
                </div>
            </div>
        </div>
    </div>
    <div class="primary-button"
         ng-click="openDistribution(domain, close)"
         ng-disabled="!logoLink">
        {{str.save}}
    </div>
    <div class="space"></div>
</md-dialog>